@font-face {
  font-family: 'Museo Sans';
  src: url('../fonts/MuseoSansCyrl.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('../fonts/MuseoSansCyrl_0.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('../fonts/MuseoSansCyrl_1.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('../fonts/MuseoSansCyrl_2.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('../fonts/MuseoSansCyrl_3.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
