button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  /* */
  border: none;
}

*:focus {
  outline: none;
}

// Цвет выделения текста
::selection {
  background: blue;
  color: white;
}

::-moz-selection {
  background: blue;
  color: white;
}

::-webkit-selection {
  background: blue;
  color: white;
}

// Цвет плейсхолдера //
::-webkit-input-placeholder {
  color: $formFontColorLight
}

::-moz-placeholder {
  color: $formFontColorLight
}

:-ms-input-placeholder {
  color: $formFontColorLight
}

:-moz-placeholder {
  color: $formFontColorLight
}

// Фиксирование для body (при кастомных модальных окнах)
.noscroll {
  position: fixed;
}

// Настройки для автозаполнения Chrome
input:-webkit-autofill {
  -webkit-text-fill-color: black !important; // Поменять цвет на аналогичный цвету input'а
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 50000000000s ease-in-out 0s !important;
}

// Сетка //
$col-m:2.6%; // Расстояние между колонками
$col:(100-($col-m*11))/12; // Ширина колонки
.one-col {
  width: $col
}

.two-col {
  width: $col*2+$col-m*1;
}

.three-col {
  width: $col*3+$col-m*2;
}

.four-col {
  width: $col*4+$col-m*3;
}

.five-col {
  width: $col*5+$col-m*4;
}

.six-col {
  width: $col*6+$col-m*5;
}

.seven-col {
  width: $col*7+$col-m*6;
}

.eight-col {
  width: $col*8+$col-m*7;
}

.nine-col {
  width: $col*9+$col-m*8;
}

.ten-col {
  width: $col*10+$col-m*9;
}

.eleven-col {
  width: $col*11+$col-m*10;
}

.twelve-col {
  width: $col*12+$col-m*11;
}

// Равное расстояние между колонками
.cols {
  text-align: justify;
  text-justify: distribute;
  &:after {
    content: "";
    display: inline-block;
    height: 0.0000000000001px;
    width: 100%;
  }
  >* {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
  }
}

// Основы //
html, body {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%
}

body {
  min-width: 320px;
  width: 100%;
  min-height: 100%;
  font-size: 0;
  font-family: $mainFontFamily;
  color: $mainFontColorDark;
  background-color: #fff;
}

header,
section,
footer {
  width: 100%;
  float: left;
}

.container {
  width: 1640px;
  margin: 0 auto;
  padding-left: 43px;

  @media #{$desktop2} {
    padding-left: 0;
    padding-right: 0;
    width: 1340px;
  }

  @media #{$desktop} {
    width: 1240px
  }

  @media #{$tablet2} {
    width: 960px;
  }

  @media #{$tablet} {
    width: 600px;
  }

  @media #{$mobile} {
   width: 290px;
  }
}

// Основы //
// Типографика //
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li {
  margin: 0;
  padding: 0
}

ul {
  list-style: none
}

span {
  font-style: inherit;
  font-family: inherit;
  font-weight: inherit;
}

// Общие стили для заголовков (если есть)
h1,
h2,
h3,
h4,
h5 {
  font-family: $mainFontFamily;
  font-weight: 100;
  font-style: normal;
  line-height: normal;
}

// Стили заголовков (удалить лишнее)
h1 {
  @include letter-spacing($titleSizeH1);

  font-size: $titleSizeH1;
}

h2 {
  @include letter-spacing($titleSizeH2);

  font-size: $titleSizeH2;

  @media #{$mobile} {
    @include letter-spacing($titleSizeH2/2);

    font-size: $titleSizeH2/2;
  }
}

h3 {
  @include letter-spacing($titleSizeH3);

  font-size: $titleSizeH3;
}

h4 {
  @include letter-spacing($titleSizeH4);

  font-size: $titleSizeH4;

  @media #{$mobile} {
    @include letter-spacing($menuTextSize);

    font-size: $menuTextSize;
  }
}

h5 {
  @include letter-spacing($titleSizeH5);

  font-size: $titleSizeH5;
}

// Стили абзацев (удалить лишнее)
p {
  box-sizing: border-box;
  width: 100%;
  font-family: $mainFontFamily;
  font-size: $textSize;
  font-weight: 100;
  line-height: normal;
}

p.small {
  font-size: $textSizeSmall;
}

p.big {
  font-size: $textSizeBig;
}

p.huge {
  @include letter-spacing($textSizeHuge);
  font-size: $textSizeHuge;
}

// Типографика //
// Формы, кнопки, поля ввода //
a,
input,
button,
select,
textarea {
  transition: all 0.25s ease-in-out;
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
}

select,
input,
textarea {
  @include letter-spacing($formTextSize);

  padding: 12px 20px;
  margin: 0;
  font-size: $formTextSize;
  line-height: 1.2em;
  font-weight: 300;
  text-align: left;
  border-radius: 25px;
  border: 1px solid $formBorderColor;
  background-color: transparent;
  display: inline-block;

  @media #{$mobile} {
    @include letter-spacing($textSizeMobile);

    font-size: $textSizeMobile;
    padding: 10px 16px;
  }
}

.button {
  text-align: center;
  border: 1px solid $additionalColorGreen;
  padding: 10px;
  display: inline-block;
  color: $mainFontColorDark;
  font-size: 20px;
  background-color: transparent;
  &::hover {
    background-color: $additionalColorGreen;
  }
}

// Формы, кнопки, поля ввода //
