//Fonts
$mainFontFamily: 'Museo Sans', 'Arial', sans-serif;
$textSize: 22px;
$textSizeTiny: 12px;
$textSizeSmaller: 16px;
$textSizeSmallest: 14px;
$textSizeSmall: 17px;
$textSizeBig: 25px;
$textSizeBiger: 27px;
$textSizeHuge: 30px;
$textSizeHuger: 33px;
$textSizeGigantic: 50px;
$textSizeSlogan: 60px;
$titleSizeH1: 70px;
$titleSizeH2: 50px;
$titleSizeH3: 40px;
$titleSizeH4: 25px;
$titleSizeH5: 18px;
$btnTextSize: 20px;
$btnBigTextSize: 35px;
$menuTextSize: 20px;
$formTextSize: 20px;
$noteStarSize: 37px;
$textSizeMobile: 14px;
$pricingHeaderTextMobile: 24px;

//Colors
$mainFontColorDark: #374851;
$mainFontColorLight: #fff;
$linkHoverColor: #1b262c;
$footerTitleFontColor: #a8b3bf;
$footerTextFontColor: #394a5e;
$formSwitchFontColorDark: #3b4e63;
$formFontColorLight: #96aebd;
$formFontColorDarkest: #374851;
$formBorderColor: #8898a3;
$formBorderHoverDarkColor: #39464f;
$formBorderHoverLightColor: #fff;
$formBorderFocus: #25ffc4;
$formEnteredFontColorLight: #fff;
$formEnteredFontColorDark: #10171a;
$newsFontColor: #6d7f77;
$breadcrumbsFontColor: #87949b;
$additionalColorGreen: #25ffc4;
$additionalColorBlue: #1451ff;
$additionalColorRed: #ff2553;
$mainGradient: linear-gradient(to left, #1b202d 0, #465d75 100%);
$headerLogoGradient: linear-gradient(to bottom, #fff 0, #d8dce8 100%);
$footerLogoGradient: linear-gradient(to bottom, #55646e 0, #688595 100%);
$bgColor: #fff;
$bgMenuColor: #435970;
$bgHeaderMenuItemHover: #17202c;
$bgFooterMenuColor: #e7eaed;
$bgSocialColor: #394b60;
$bgCommunicationColorIcon: #207f80;
$resumeShadowColor: #b9c9d4;
$pricingTableShadow: #607b89;
$pricingCrossedText: #dad9d9;
$markHeroAccount: #ff7f8e;
$markSuperheroAccount: #24e1f2;
//Media Queries
$mobile: (max-width: 639px);
$tablet: (max-width: 1024px);
$tablet2: (max-width: 1279px);
$desktop: (max-width: 1380px);
$desktop2: (max-width: 1690px);
