//Fonts
$mainFontFamily: 'Museo Sans', 'Arial', sans-serif;
$textSize: 22px;
$textSizeSmall: 17px;
$textSizeBig: 25px;
$textSizeHuge: 30px;
$textSizePreregForm: 33px;
$titleSizeH1: 70px;
$titleSizeH2: 50px;
$titleSizeH3: 40px;
$titleSizeH4: 25px;
$titleSizeH5: 18px;

//Colors
$mainFontColorDark: #374851;
$mainFontColorLight: #fff;
$footerTitleFontColor: #a8b3bf;
$footerTextFontColor: #394a5e;
$formFontColorDark: #3b4e63;
$formFontColorLight: #96aebd;
$formFontColorDarkest: #374851;
$newsFontColor: #6d7f77;
$breadcrumbsFontColor: #87949b;
$additionalColorGreen: #25ffc4;
$additionalColorBlue: #1451ff;
$additionalColorRed: #ff2553;
$mainGradient: linear-gradient(to left, #1b202d 0, #465d75 100%);
$headerLogoGradient: linear-gradient(to bottom, #fff 0, #d8dce8 100%);
$footerLogoGradient: linear-gradient(to bottom, #55646e 0, #688595 100%);
$bgColor: #fff;
$bgMenuColor: #435970;
$bgFooterMenuColor: #e7eaed;
$bgSocialColor: #394b60;
$bgCommunicationColorIcon: #207f80;

//Media Queries
$mobile: (max-width: 639px);
$tablet: (max-width: 1024px);
$tablet2: (max-width: 1279px);
$desktop: (max-width: 1920px);