@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'global';
@import 'blocks/btn';
@import 'blocks/text-block';
@import 'blocks/logo';
@import 'blocks/page';
@import 'blocks/page-header';
@import 'blocks/lead';
@import 'blocks/main-menu';
@import 'blocks/user-menu';
@import 'blocks/page';
@import 'blocks/page-section';
@import 'blocks/we-for-employer';
@import 'blocks/employer-work';
@import 'blocks/we-for-hero';
@import 'blocks/hero-work';
@import 'blocks/communication';
@import 'blocks/intro-video';
@import 'blocks/resume-examples';
@import 'blocks/crowdfunding';
@import 'blocks/pricing';
@import 'blocks/note';
@import 'blocks/collage';
@import 'blocks/intro';
@import 'blocks/tour-registration';
@import 'blocks/companies';
@import 'blocks/company';
@import 'blocks/tour-resume';
@import 'blocks/tour-working';
@import 'blocks/tour-accounts';
@import 'blocks/tour-dashboard';
@import 'blocks/tour-search';
@import 'blocks/tour-matching';
@import 'blocks/tour-represent';
@import 'blocks/tour-offer';
@import 'blocks/arrow';
@import 'blocks/news';
@import 'blocks/form';
@import 'blocks/switch';
@import 'blocks/page-footer';
@import 'blocks/footer-menu';
@import 'blocks/socials';
@import 'blocks/social';


