.about-description {
	position: relative;
}

.about-description__container {
	padding: 0;
	padding-top: 112px;
	padding-bottom: 112px;

	@media #{$tablet} {
		padding-top: 81px;
		padding-bottom: 81px;		
	}
}

.about-description__content {
	width: 100%;
}

.about-description__content-item_flex {
	display: flex;
	justify-content: flex-start;

	@media #{$tablet} {
		display: block;
	}
}

.about-description__content-item:nth-child(1) {
	margin-bottom: 71px;

	@media #{$tablet} {
		margin-bottom: 19px;
	}

	& p {
		max-width: 54%;

		@media #{$tablet} {
			max-width: 100%;
		}
	}
}
.about-description__content-item:nth-child(2) {
	max-width: 60%;
	margin-bottom: 45px;

	@media #{$tablet} {
		max-width: 80%;
		margin-bottom: 5px;
	}

	@media #{$mobile} {
		max-width: 100%;
	}
}
.about-description__content-item:nth-child(3) {
	max-width: 45%;

	@media #{$tablet} {
		max-width: 60%;
		margin-bottom: 30px;
	}

	@media #{$mobile} {
		max-width: 80%;
		margin-bottom: 0;
	}
}
.about-description__content-item:nth-child(4) { /*image*/
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
	margin-top: -5%;
	margin-bottom: 100px;

	@media #{$mobile} {
		margin-top: -30%;
		margin-bottom: -30%;
	}

	& img {
		@media #{$mobile} {
			width: 500%;
		}		
	}
}
.about-description__content-item:nth-child(5) {
	flex-flow: column nowrap;
	align-items: flex-end;
	width: 100%;
	text-align: right;

	& p {
		max-width: 70%;
		font-size: 50px;

		@media #{$tablet} {
			max-width: 100%;
			font-size: 26px;
		}

		&:nth-child(2) {
			margin-bottom: 75px;

			@media #{$tablet} {
				margin-bottom: 28px;
			}
		}
	}

	& .about-description__comment {
		display: flex;
		justify-content: flex-end;
		font-size: 25px;

		@media #{$tablet} {
			font-size: 15px;
		}

		& > div:nth-child(1) {
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			align-items: flex-end;
			margin-right: 32px;

			@media #{$tablet} {
				margin-right: 23px;
			}
		}

		& > div:nth-child(2) {
			width: 85px;
			height: 85px;
			margin-right: 5px;
			border-radius: 20px;
			box-shadow: 0 75px 73px -50px #000;
			overflow: hidden;

			@media #{$tablet} {
				width: 88px;
				height: 88px;
			}
		}
	}
}

.about-description__text {
	font-size: 25px;
	
	@media #{$tablet} {
		font-size: 15px;
	}

	&_big {
		font-size: 50px;
		white-space: nowrap;
		margin-right: 4.7%;

		@media #{$tablet} {
			display: inline-block;
			font-size: 35px;
			white-space: normal;
			margin-right: 0;	
			margin-bottom: 45px;
		}
	}

	&_bold {
		font-weight: 700;
	}
}