.about-team {
	margin-bottom: 143px;
}

.about-team__container {
	padding: 0;
	background-color: yellow;
}

.about-team__title {
	font-size: 50px;
	margin-bottom: 64px;
}

.about-team__text {
	font-size: 25px;
	max-width: 40%;
	margin-bottom: 79px;
}

.about-team__photos {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.about-team__photo {
	width: 25%;
	margin-right: 12.5%;
	margin-bottom: 94px;

	& > * {
		display: block;
	}

	& div {
		margin-bottom: 26px;

		& img {
			width: 100%;
		}
	}

	& b {
		font-size: 25px;
		font-weight: 100;
		margin-bottom: 2px;
	}

	& span {
		font-size: 17px;
		font-weight: 500;
		color: #98a9b3;
	}

	&:nth-child(n+3) {
		margin-right: 0;
	}
}