.about-team {
	margin-bottom: 137px;

	@media #{$tablet} {
		margin-bottom: 80px;
	}


&__container {
	padding: 0;
}

&__content {
  box-sizing: border-box;
  padding: 0 47px;
  width: 100%;

  @media #{$desktop} {
    padding: 0 33px;
  }

  @media #{$tablet} {
    padding: 0 14px;
  }
}

&__title {
	font-size: 50px;
  letter-spacing: -0.04em;
	margin-bottom: 64px;

  @media #{$desktop} {
    font-size: 35px;
  }

	@media #{$tablet} {
		font-size: 30px;
		margin-bottom: 27px;
	}
}

&__text {
	font-size: 25px;
  letter-spacing: -0.04em;
	max-width: 40%;
	margin-bottom: 79px;

  @media #{$desktop} {
    font-size: 18px;
  }

	@media #{$tablet} {
		font-size: 15px;
		max-width: 100%;
		margin-bottom: 33px;
	}
}

&__photos {
	display: flex;
  flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
  align-items: flex-start;

	@media #{$tablet} {
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}
}

&__photo {
	width: 26%;
	//margin-right: 11%;
	margin-bottom: 102px;

	@media #{$desktop2} {
		//width: 40%;
		//margin-right: 20%;
		margin-bottom: 36px;
	}
	@media #{$tablet} {
		width: 100%;
    max-width: 402px;
		margin-right: 0;
		margin-bottom: 36px;
	}

	& > * {
		display: block;
	}

	& div {
		margin-bottom: 26px;

		@media #{$tablet} {
			margin-bottom: 22px;
		}

		& img {
			width: 100%;

			filter: gray;
			filter: url(#about-team__grayscale);
			filter: grayscale(100%);
		}
	}

	& b {
		font-size: 25px;
		font-weight: 100;
    letter-spacing: -0.04em;
		margin-bottom: 2px;

		@media #{$tablet} {
			font-size: 35px;
		}

		@media #{$mobile} {
			font-size: 17px;
		}
	}

	& span {
		font-size: 17px;
    letter-spacing: -0.04em;
		font-weight: 500;
		color: #98a9b3;

		@media #{$tablet} {
			font-size: 25px;
		}

		@media #{$mobile} {
			font-size: 12px;
		}
	}

	&:nth-child(n+3) {
		margin-right: 0;
	}

	&:nth-child(n+2) {
		@media #{$desktop2} {
			margin-right: 0;
		}
	}
}
}

