@keyframes fall {
  from {
    transform: translate(0, -1000px);
    opacity: 0;
  }

  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.collage {
  &_resume {
    position: relative;
  }

  &_accounts {
    position: relative;
    position: absolute;
    top: -392px;
    left: 0;
    width: 100%;
    height: 1753px;
    z-index: -1;
    overflow: hidden;
  }

  &__img {
    position: absolute;

    &_resume1 {
      top: 0;
      left: 0;
      animation: fall 1.5s ease-in-out 1;
      animation-delay: 0s;
      width: 1210px;
      height: 668px;
      
      @media #{$mobile} {
        width: 605px;
        height: 334px;
      }
      
      img {
        width: 1210px;
        height: 668px;
        
        @media #{$mobile} {
          width: 605px;
          height: 334px;
        }
      }
    }

    &_resume2 {
      top: 48px;
      left: 316px;
      animation: fall 1.5s ease-in-out 1;
      animation-delay: 0.5s;
      width: 895px;
      height: 803px;
      
      @media #{$mobile} {
        top: 24px;
        left: 158px;
        width: 447.5px;
        height: 401.5px;
      }
      
      img {
        width: 895px;
        height: 803px;
        
        @media #{$mobile} {
          width: 447.5px;
          height: 401.5px;
        }
      }
    }

    &_resume3 {
      top: 276px;
      left: 134px;
      animation: fall 1.5s ease-in-out 1;
      animation-delay: 1s;
      width: 349px;
      height: 149px;
      
      @media #{$mobile} {
        top: 138px;
        left: 67px;
        width: 174.5px;
        height: 74.5px;
      }
      
      img {
        width: 349px;
        height: 149px;
        
        @media #{$mobile} {
          width: 174.5px;
          height: 74.5px;
        }
      }
    }

    &_resume4 {
      top: 524px;
      left: 540px;
      animation: fall 1.5s ease-in-out 1;
      animation-delay: 1.5s;
      width: 188px;
      height: 148px;
      
      @media #{$mobile} {
        top: 262px;
        left: 270px;
        width: 94px;
        height: 74px;
      }
      
      img {
        width: 188px;
        height: 148px;
        
        @media #{$mobile} {
          width: 94px;
          height: 74px;
        }
      }
    }

    &_accounts {
      top: 0;
      left: 0;

      img {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  &__line {
    position: relative;
    position: absolute;
    top: 74px;
    left: 0;
    width: 550px;
    height: 2600px;
    transform: skewX(-55.9deg);

    &::before,
    &::after {
      position: absolute;
      content: '';
      width: 5px;
      height: 3px;
      z-index: 1;
      border-radius: 3px;
    }

    &_hero::before,
    &_hero::after {
      background-color: $markHeroAccount;
    }

    &_hero::before {
      height: 0;
      top: 0;
      left: 0;
      transition: height 1.25s ease-in-out;
    }

    &_hero.js-line-active::before {
      height: 714px;
    }


    &_hero::after {
      top: 910px;
      height: 0;
      left: 0px;
      transition: height 1.25s ease-in-out;
    }

    &_hero.js-line-active::after {
      height: 160px;
    }

    &_superhero::before,
    &_superhero::after {
      background-color: $markSuperheroAccount;
    }

    &_superhero::before {
      top: 868px;
      right: 0;
      height: 0;
      transition: height 1.25s ease-in-out;
    }

    &_superhero.js-line-active::before {
      height: 182px;
    }

    &_superhero::after {
      top: 1224px;
      right: 0;
      height: 0;
      transition: height 1.25s ease-in-out;
    }

    &_superhero.js-line-active::after {
      height: 414px;
    }
  }
}

