@keyframes fall {
  from {
    transform: translate(0, -1000px);
    opacity: 0;
  }

  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.collage {
  position: relative;

  &__img {
    position: absolute;
    animation: fall 1.5s ease-in-out 1;

    &_resume1 {
      animation-delay: 0s;
    }

    &_resume2 {
      top: 48px;
      left: 318px;
      animation-delay: 0.5s;
    }

    &_resume3 {
      top: 276px;
      left: 134px;
      animation-delay: 1s;
    }

    &_resume4 {
      top: 524px;
      left: 540px;
      animation-delay: 1.5s;
    }
  }
}
