@keyframes fall {
  from {
    transform: translate(0, -1000px);
    opacity: 0;
  }

  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.collage {
  &_resume {
    position: relative;
  }

  &_accounts {
    position: relative;
    position: absolute;
    top: -392px;
    left: 0;
    width: 100%;
    height: 1753px;
    z-index: -1;
    overflow: hidden;

    @media (min-width: 1921px) {
      overflow: visible;
    }
  }

  &__img {
    position: absolute;

    &_resume1 {
      top: 0;
      left: 0;
      width: 1210px;
      height: 668px;

      @media #{$mobile} {
        width: 605px;
        height: 334px;
      }

      img {
        width: 1210px;
        height: 668px;

        @media #{$mobile} {
          width: 605px;
          height: 334px;
        }
      }
    }

    &_resume2 {
      top: 48px;
      left: 316px;
      /*animation: fall 1.5s ease-in-out 1;
      animation-delay: 0.5s;*/
      width: 895px;
      height: 803px;

      @media #{$mobile} {
        top: 24px;
        left: 158px;
        width: 447.5px;
        height: 401.5px;
      }

      img {
        width: 895px;
        height: 803px;

        @media #{$mobile} {
          width: 447.5px;
          height: 401.5px;
        }
      }
    }

    &_resume3 {
      top: 276px;
      left: 134px;
      /*animation: fall 1.5s ease-in-out 1;
      animation-delay: 1s;*/
      width: 349px;
      height: 149px;

      @media #{$mobile} {
        top: 138px;
        left: 67px;
        width: 174.5px;
        height: 74.5px;
      }

      img {
        width: 349px;
        height: 149px;

        @media #{$mobile} {
          width: 174.5px;
          height: 74.5px;
        }
      }
    }

    &_resume4 {
      top: 524px;
      left: 540px;
      /*animation: fall 1.5s ease-in-out 1;
      animation-delay: 1.5s;*/
      width: 188px;
      height: 148px;

      @media #{$mobile} {
        top: 262px;
        left: 270px;
        width: 94px;
        height: 74px;
      }

      img {
        width: 188px;
        height: 148px;

        @media #{$mobile} {
          width: 94px;
          height: 74px;
        }
      }
    }

    &_accounts {
      top: 0;
      left: 0;

      @media #{$tablet} {
        left: -128px;
      }

      @media #{$mobile} {
        left: -64px;
      }

      img {
        position: absolute;
        width: 2636px;
        height: 1753px;
        top: 0;
        left: -287px;

        @media #{$mobile} {
          left: -144px;
          width: 1318px;
          height: 876px;
        }
      }
    }
  }

  &__line {
    position: relative;
    position: absolute;
    top: 0px;
    left: 109px;
    width: 550px;
    height: 2600px;
    transform: skewX(-55.9deg);

    @media #{$tablet} {
      left: -19px;
    }

    @media #{$mobile} {
      top: 0;
      left: -12px;
      width: 275px;
      height: 1300px;
    }

    &::before,
    &::after {
      position: absolute;
      content: '';
      width: 5px;
      height: 3px;
      z-index: 1;
      border-radius: 3px;

      @media #{$mobile} {
        width: 2px;
      }
    }

    &_hero::before,
    &_hero::after {
      background-color: $markHeroAccount;
    }

    &_hero::before {
      height: 0;
      top: 0;
      left: 0;
      transition: height 1.25s ease-in-out;
    }

    &_hero.js-line-active::before {
      height: 788px;

      @media #{$mobile} {
        height: 394px;
      }
    }


    &_hero::after {
      top: 984px;
      height: 0;
      left: 0px;
      transition: height 1.25s ease-in-out;

      @media #{$mobile} {
        top: 492px;
      }
    }

    &_hero.js-line-active::after {
      height: 160px;

      @media #{$mobile} {
        height: 80px;
      }
    }

    &_superhero::before,
    &_superhero::after {
      background-color: $markSuperheroAccount;
    }

    &_superhero::before {
      top: 940px;
      right: 0;
      height: 0;
      transition: height 1.25s ease-in-out;

      @media #{$mobile} {
        top: 471px;
      }
    }

    &_superhero.js-line-active::before {
      height: 182px;

      @media #{$mobile} {
        height: 91px;
      }
    }

    &_superhero::after {
      top: 1296px;
      right: 0;
      height: 0;
      transition: height 1.25s ease-in-out;

      @media #{$mobile} {
        top: 649px;
      }
    }

    &_superhero.js-line-active::after {
      height: 414px;

      @media #{$mobile} {
        height: 207px;
      }
    }
  }
}

