.communication {
  min-height: 1355px;
  overflow: hidden;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &__text-top {
    padding-top: 150px;
    padding-left: 182px;
    padding-right: 308px;
    margin-bottom: 28px;
  }

  &__text-bottom {
    padding-right: 74px;
  }

  &__images {
    position: relative;
    width: 100%;
    margin-bottom: 76px;
  }

  &__img {
    position: relative;
    margin-left: -10px;
    max-width: 1572px;
    width: 100%;
    height: 704px;
    /*overflow: hidden;*/

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      width: 0;
      margin: auto;
      object-fit: cover;
    }
  }

  &__list {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    left: calc(50% - 80px);
    bottom: 28px;
    width: 330px;
    transform: translate(-50%, 0);
  }

  &__item {
    position: relative;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: $additionalColorGreen;

    &:last-child {
      background-color: $additionalColorRed;
    }

    &::before {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      width: 27px;
      height: 33px;
      transform: translate(-50%, -50%);
      background-image: url('./../images/communication_sprite.png');
      background-repeat: no-repeat;
    }

    &_video::before {
      width: 28px;
      height: 19px;
      background-position: 0 0;
    }

    &_voice::before {
      width: 20px;
      height: 33px;
      background-position: -40px 0;
    }

    &_text::before {
      width: 23px;
      height: 27px;
      background-position: -80px 0;
    }

    &_call::before {
      width: 24px;
      height: 26px;
      background-position: -120px 0;
    }
  }

  &_hero {
    max-height: 1394px;

    & .communication__text-top {
      padding-top: 198px;
      padding-left: 172px;
      padding-right: 308px;
      margin-bottom: 24px;
    }

    & .communication__images {
      margin-bottom: 84px;
    }

    & .communication__text-top {
      padding-right: 146px;
    }
  }
}
