.communication {
  padding-bottom: 100px;
  overflow: hidden;

  @media (max-width: 1380px) {
    padding-bottom: 40px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &__text-top {
    padding-top: 152px;
    padding-left: 188px;
    padding-right: 188px;
    margin-bottom: 20px;

    @media (max-width: 1690px) {
      padding-top: 100px;
      padding-left: 6%;
      padding-right: 6%;
    }

    @media (max-width: 1279px) {
      padding-left: 3%;
      padding-right: 3%;
    }

    @media (max-width: 1024px) {
      padding-top: 58px;
      margin-bottom: 12px;
    }

    @media (max-width: 639px) {
      margin-bottom: 6px;
      padding-left: 9px;
      padding-right: 14px;
    }

    & .text-block__title_mainpage {
      padding-left: 20px;
      padding-right: 100px;

      @media (max-width: 1690px) {
        padding: 0;
      }
    }

    & .text-block__content {
      box-sizing: border-box;
      padding-left: 4px;
      padding-right: 95px;

      @media (max-width: 1690px) {
        padding: 0;
      }

      @media (max-width: 639px) {
        line-height: 1.2em;
        padding-left: 10px;
        padding-right: 10px;
      }

      p {
        @media (max-width: 1024px) {
          margin-bottom: 15px;
        }
      }
    }
  }

  &__text-bottom {
    //padding-right: 74px;
//
    //@media (max-width: 1690px) {
    //  padding: 0 14%;
    //}

    .text-block__content {
      @media (max-width: 639px) {
        line-height: 1.2em;
      }
    }
  }

  &__images {
    position: relative;
    margin-bottom: 76px;

    @media (max-width: 1024px) {
      margin-bottom: 64px;
    }

    @media (max-width: 639px) {
      margin-bottom: 32px;
    }
  }

  &__img {
    position: relative;
    margin: 0 auto;
    max-width: 1920px;
    width: 100%;
    height: 704px;
    overflow: visible;

    @media (max-width: 1380px) {
      height: 600px;
    }

    @media (max-width: 1024px) {
      height: 350px;
    }

    @media (max-width: 639px) {
      height: 250px;
    }

    img {
      position: absolute;
      top: 0;
      //left: 50%;
      bottom: 0;
      //transform: translateX(-50%);
      margin: auto;
      max-height: 100%;
      //width: auto;
      width: 100%;
      object-fit: cover;
      font-family: 'object-fit: cover;';
    }
  }

  &_employer {
    & .communication__text-bottom {
      p {
        display: none;

        @media (max-width: 1024px) {
          display: block;
        }
      }

      .text-block__link {
        @media (max-width: 1024px) {
          display: none;
        }
      }
    }
  }

  &_hero {

    & .communication__text-top {
      padding-top: 198px;
      padding-left: 102px;
      padding-right: 146px;
      margin-bottom: 12px;

      @media (max-width: 1690px) {
        padding-top: 100px;
        padding-left: 6%;
        padding-right: 6%;
      }

      @media (max-width: 1279px) {
        padding-left: 3%;
        padding-right: 3%;
      }

      @media (max-width: 1024px) {
        padding-top: 57px;
        margin-bottom: 12px;
      }

      @media (max-width: 639px) {
        margin-bottom: 6px;
        padding-left: 9px;
        padding-right: 14px;
        line-height: 1.2em;
      }
    }

    & .communication__text-bottom {
      padding-right: 130px;

      @media (max-width: 1690px) {
        padding-right: 0;
      }

      @media (max-width: 639px) {
        padding-left: 40px;
        padding-right: 43px;

        p {
          line-height: 1.2em;
        }
      }
    }

    & .communication__images {
      margin-bottom: 84px;
      margin-left: -86px;

      @media (max-width: 1690px) {
        margin-left: 0;
      }

      @media (max-width: 1024px) {
        margin-bottom: 64px;
      }

      @media (max-width: 639px) {
        margin-bottom: 32px;
      }
    }
  }
}
