.companies {
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    @media (max-width: 1024px) {
      flex-direction: column;
      padding-left: 8px;
    }

    @media (max-width: 639px) {
      padding-left: 4px;
    }
  }

  &__item {
    padding-right: 52px;

    @media (max-width: 1024px) {
      padding-right: 0;
      margin-bottom: 44px;
    }

    @media (max-width: 639px) {
      margin-bottom: 22px;
    }
  }
}
