.communication {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &__text-top {
    padding-top: 198px;
    padding-left: 172px;
    padding-right: 308px;

    h2 {
      margin-bottom: 40px;
    }
  }
}
