.contacts {
	color: #374851;
	font-size: 16px;
  letter-spacing: -0.04em;
	font-weight: 300;
	display: flex;
	flex-direction: column;
	&__container {
		position: relative;
		z-index: 1;
    @media (max-width: 639px) {
      box-sizing: border-box;
      padding-left: 8%;
      padding-right: 8%;
    }
	}
	&__map-section {
		z-index: -1;
	}
	&__top-line {
		width: 100%;
		padding-top: 94px;
		margin-left: 220px;
		display: flex;
		flex-direction: row;
		align-items: stretch;
		max-width: 1156px;
		justify-content: space-between;
		position: relative;
		z-index: 5;
		@media (max-width: 1690px) {
			margin-left: 100px;
		}
		@media (max-width: 1380px) {
			margin-left: 0;
			max-width: 100%;
		}
		@media (max-width: 1024px) {
			flex-direction: column;
		}
    @media (max-width: 639px) {
      padding-top: 48px;
    }
	}
	&__heading {
		display: flex;
		flex-direction: column;
		h1 {
			font-size: 70px;
      letter-spacing: -0.04em;
			line-height: .4;
			@media (max-width: 1024px) {
				line-height: 1.15;
				font-size: 35px;
				margin-bottom: 15px;
			}
		}
		h3 {
			font-size: $textSizeSmaller;
			letter-spacing: -0.04em;
			margin-top: 55px;
			@media (max-width: 1024px) {
				margin-top: 0;
			}

      @media (max-width: 639px) {
        font-size: 13px;
			}
		}
	}
	&__adress {
		font-size: 22px;
    letter-spacing: -0.04em;
		color: #6d7f77;
		font-weight: 100;
		@media (max-width: 1024px) {
			margin-top: 30px;
		}
    @media (max-width: 639px) {
			font-size: $textSizeSmaller;
		}
	}
	&__links {
		li {
			margin-bottom: 20px;
			position: relative;
			padding-left: 40px;
		}
		@media (max-width: 1024px) {
			margin-top: 30px;
		}
	}
	&__contact-link {
		display: inline-block;
		color: #6d7f77;
		transition: all .25s ease-in-out;
		font-size: 17px;
    letter-spacing: -0.04em;
		border-bottom: 1px solid #25ffc4;

    @media (max-width: 639px) {
      font-size: $textSizeMobileBig;
    }
		&:hover {
			color: #0a0a0b;
			.contacts__link-icon {
				opacity: .5
			}
		}
	}
	&__link-icon {
		position: absolute;
		top: 0;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		transition: all .25s ease-in-out;
		&.dialog {
			width: 24px;
			height: 22px;
		}
		&.at {
			width: 24px;
			height: 24px;
		}
		&.faq {
			width: 23px;
			height: 24px;
		}
	}
	&__map {
		position: relative;
    max-width: 1408px;
    width: 100%;
    height: 624px;
    overflow: hidden;

    @media (max-width: 1024px) {
      width: 100%;
      height: 374px;
    }

    @media (max-width: 639px) {
      height: 300px;
      overflow: visible;
    }

		img {
      position: absolute;//
      top: 0;//
      left: 0;//
      right: 0;//
      bottom: 0;//
			min-width: 100%;//
      min-height: 100%;//
      width: 0;//
      margin: auto 0;//

			@media (max-width: 639px) {
				height: 100%;
				width: auto;
				margin-left: -70px;
			}
		}
	}
	&__form-row {
		width: 100%;
		max-width: 1156px;
		margin-left: 220px;
		display: flex;
		flex-direction: row;
		align-items: stretch;
		justify-content: space-between;
		@media (max-width: 1690px) {
			margin-left: 100px;
		}
		@media (max-width: 1380px) {
			margin-left: 0;
			max-width: 100%;
		}
		@media (max-width: 1024px) {
			flex-direction: column;
		}
	}
	&__feedback-container {
		position: relative;
		z-index: 1;

    @media (max-width: 639px) {
      box-sizing: border-box;
      padding-left: 8%;
      padding-right: 8%;
    }
	}
	&__feedback-form {
		margin-bottom: 48px;
	}
	&__form-element {
		box-sizing: border-box;
		width: 100%;
		margin-bottom: 25px;
		text-align: center;
		&.col-3 {
			width: 30%;
			@media (max-width: 1024px) {
				width: 100%;
			}
		}
		input[type="text"] {
			width: 100%;
		}
		textarea {
			resize: none;
			width: 100%;
			height: 120px;
			margin-bottom: 15px;
			@media (max-width: 1024px) {
				margin-bottom: 0;
			}
		}
		.btn {
			width: 30%;
			@media (max-width: 1024px) {
				width: 100%;
			}
		}
	}
}
