.crowdfunding {

  &__text {
    padding-top: 102px;
    padding-right: 190px;
    padding-bottom: 214px;
    width: 50%;

    @media (min-width: 1280px) {
      padding-left: 48px;
    }

    @media (max-width: 1690px) {
      padding-right: 10%;
    }

    @media (max-width: 1380px) {
      width: 70%;
      padding-right: 10%;
    }

    @media (max-width: 1024px) {
      width: 100%;
      padding-top: 94px;
      padding-left: 16px;
      padding-right: 112px;
      padding-bottom: 10px;
      text-align: left;
    }

    @media (max-width: 450px) {
      padding-right: 12px;
    }

    p {
      padding: 0;
    }

    b {
      display: block;
      font-weight: 700;
    }
  }
}
