.fullpage {
  position: relative;
  color: #fff;
  font-weight: 100;
  padding-top: 65px;
  padding-bottom: 220px;
  height: 100vh;
  min-height: 580px;
  box-sizing: border-box;

  @media (max-width: 1919px) {
    padding-top: 30px;
    padding-bottom: 50px;
  }

  @media(max-height: 1023px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @media (max-width: 1023px) {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @media (max-width: 639px) {
    min-height: 410px;
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 660px;
    justify-content: space-between;
    box-sizing: border-box;

    @media (max-width: 1023px) {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  h1 {
    letter-spacing: .17em;
    font-size: 77.7px;
    font-weight: 100;
    position: relative;

    @media (max-width: 1023px) {
      font-size: 53px;
    }

    @media (max-width: 639px) {
      font-size: 32px;
    }

    &::before {
      content: '';
      position: absolute;
      left: calc(-50vw - 75px);
      width: 50vw;
      height: 12px;
      background-color: $additionalColorGreen;
      transform: translateY(-50%);
      top: 50%;

      @media (max-width: 1023px) {
        content: none;
      }
    }
  }

  h3 {
    font-size: 45px;
    letter-spacing: .165em;
    font-weight: 100;

    @media (max-width: 1023px) {
      font-size: 30px;
    }

    @media (max-width: 639px) {
      font-size: 18px;
    }
  }

  &__bg {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate3d(0,0,0);


    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      object-fit: cover;
      font-family: 'object-fit: cover;';
      width: 0;
      min-width: 100%;
      min-height: 100%;
    }
  }

  &__logo {
    display: block;
    width: 130px;
    height: 92px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 1920px) {
      width: 195px;
      height: 138px;
    }

    @media (max-width: 639px) {
      width: 90px;
      height: 65px;
    }
  }

  &__form {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;

    label > input {
      width: 100%;
      text-align: center;
      color: #fff;
      border-color: #fff;

      &::placeholder {
        color: #fff;
      }
    }

    .btn {
      margin-top: 40px;
      color: #fff;
      font-weight: 300;

      @media (min-width: 640px) {
        padding-top: 2px;
        padding-bottom: 2px;
        font-size: 33px;
      }
    }
  }

  &__copyright {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    a {
      font-size: 32px;
      color: #fff;
      letter-spacing: -.04em;
      transition: color .25s ease-in-out;

      &:hover {
        color: darken(#fff, 15%);
      }

      @media (max-width: 1919px) {
        font-size: 26px;
      }

      @media (max-width: 1023px) {
        font-size: 20px;
      }

      @media (max-width: 639px) {
        font-size: 16px;
      }
    }
  }
}
