.intro-video {
  position: relative;
  transition: all 0.25 ease-in-out;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.59);
    z-index: 1;
  }

  &__container {
    position: relative;
    will-change: padding;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 126px;
    padding-bottom: 70px;
    z-index: 2;

    @media #{$tablet2} {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
    }

    @media #{$tablet} {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 140px;
      padding-bottom: 150px;
    }
  }

  &__item {
    box-sizing: border-box;
    width: 50%;
    z-index: 3;

    @media #{$tablet} {
      width: 100%;
    }

    &_text {
      @media #{$tablet2} {
        width: 60%;
      }
    }

    &_play {
      padding-top: 20px;
      padding-right: 134px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;

      @media #{$desktop} {
        padding-top: 5px;
      }

      @media #{$tablet2} {
        padding-right: 25px;
        width: 40%;
      }

      @media #{$tablet} {
        padding-top: 26px;
        padding-right: 0;
      }
    }
  }

  &__text {
    padding-left: 24px;

    @media #{$tablet} {
      padding-left: 0;
      text-align: center;
    }

    & .text-block__title_mainpage {
      @media #{$tablet} {
        letter-spacing: -0.04em;
        margin-bottom: 0;
        font-size: ($titleSizeH1 - 10px);
      }

      @media #{$mobile} {
        font-size: ($titleSizeH1 - 10px)/2;
      }
    }
  }

  &__playblock {
    position: relative;
    padding-left: 65px;

    @media #{$tablet} {
      padding-left: 90px;
    }

    @media #{$mobile} {
      padding-left: 65px;
    }
  }

  &__btn {
    @media #{$tablet} {
      font-size: $titleSizeH3;
      letter-spacing: -0.04em;
      padding: 10px 44px;
      border-radius: 50px;
    }

    @media #{$mobile} {
      font-size: $titleSizeH3/2;
      padding: 10px 44px;
      border-radius: 25px;
    }
  }

  &__play-btn {
    position: absolute;
    top: 50%;
    left: 0;
    width: 50px;
    height: 50px;
    transform: translate(0, -50%);

    @media #{$tablet} {
      width: 75px;
      height: 75px;
    }

    @media #{$mobile} {
      width: 50px;
      height: 50px;
    }
  }

  &__content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all .25s ease-in-out;
    background-color: #000;

    iframe {
      width: 100%;
      height: 100%;
    }
  }

  &.active {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 1200;

    .intro-video__container {
      display: none;
    }

    .intro-video__content {
      position: relative;;
      opacity: 1;
      pointer-events: all;
      transition-delay: .25s;
      z-index: 20;
    }
  }

  &__close {
    position: relative;
    position: absolute;
    top: 60px;
    right: 30px;
    width: 30px;
    height: 2px;
    cursor: pointer;
    z-index: 22;

    &::before,
    &::after {
      position: absolute;
      content: '';
      left: 0;
      width: 30px;
      height: 2px;
      background-color: $bgColor;
    }

    &::before {
      top: 0;
      transform: rotate(45deg);
    }

    &::after {
      bottom: 0;
      transform: rotate(-45deg);
    }
  }
}
