.intro {
  overflow: hidden;

  &__container {
    padding-top: 176px;
    padding-bottom: 82px;
    padding-left: 40px;

    @media (max-width: 1279px) {
      padding-top: 128px;
      padding-bottom: 88px;
    }

    @media (max-width: 1024px) {
      padding: 128px 32px 88px;
    }

    @media (max-width: 639px) {
      padding: 0 16px;
      padding-top: 64px;
      padding-bottom: 44px;
    }
  }

  &_employer {
    .intro__container {
      @media (min-width: 1280px) {
        padding-top: 140px;
        padding-bottom: 20px;
      }
    }
    .intro__slogans .text-block__slogan_big {
      margin-bottom: 65px;
    }
  }

  &__top-35 {
    margin-top: 35px;
  }

  &__slogans {
    width: 50%;

    @media (max-width: 1279px) {
      width: 100%;
      margin-bottom: 80px;
    }

    @media (max-width: 639px) {
      margin-bottom: 40px;
    }

    & .text-block__slogan_big {
      margin-bottom: 90px;

      @media (max-width: 1279px) {
        margin-bottom: 45px;
      }

      @media (max-width: 639px) {
        margin-bottom: 24px;
      }
    }

    p{
      @media (max-width: 639px) {
        margin-bottom: 15px;
      }
    }
  }

  &__subscribe {
    width: 50%;
    padding-left: 154px;
    padding-right: 60px;

    @media (max-width: 1279px) {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }

    p {
      @media (max-width: 639px) {
        margin-bottom: 15px;
      }
    }
  }

  &__btn {
    position: relative;
    display: inline-block;
    margin-left: -20px;
    margin-bottom: 50px;
    padding-left: 76px;
    padding-right: 96px;

    @media (max-width: 1279px) {
      margin-left: 0;
    }

    @media (max-width: 1024px) {
      margin-left: -2px;
      margin-bottom: 40px;
    }

    @media (max-width: 639px) {
      margin-bottom: 20px;
      padding-left: 36px;
      padding-right: 48px;
    }

    &_padding_smaller {
      padding-left: 30px;
      padding-right: 15px;

      @media (max-width: 639px) {
        padding-left: 0;
      }
    }

    &::before {
      position: absolute;
      content: '';
      top: 50%;
      left: calc(100% + 30px);
      width: 250%;
      height: 12px;
      background-color: $additionalColorBlue;
      transform: translate(0, -50%);
      cursor: default;
      z-index: -1;

      @media (max-width: 639px) {
        left: calc(100% + 15px);
        height: 6px;
      }
    }
  }
}
