.intro-video {
  position: relative;
  box-sizing: border-box;
  transition: all 0.25 ease-in-out;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  z-index: 100;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.59);
    z-index: 1001;
  }

  &__container {
    position: relative;
    will-change: padding;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 126px;
    padding-bottom: 70px;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    z-index: 1002;

    @media (max-width: 1279px) {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
    }

    @media (max-width: 1024px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 140px;
      padding-bottom: 150px;
    }
  }

  &__item {
    box-sizing: border-box;
    width: 50%;
    z-index: 1003;

    @media (max-width: 1024px) {
      width: 100%;
    }

    &_text {
      @media (max-width: 1279px) {
        width: 60%;
      }
    }

    &_play {
      padding-top: 20px;
      padding-right: 134px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;

      @media (max-width: 1380px) {
        padding-top: 5px;
      }

      @media (max-width: 1279px) {
        padding-right: 25px;
        width: 40%;
      }

      @media (max-width: 1024px) {
        padding-top: 26px;
        padding-right: 0;
      }
    }
  }

  &__text {
    padding-left: 24px;

    @media (max-width: 1024px) {
      padding-left: 0;
      text-align: center;
    }

    & .text-block__title_mainpage {
      @media (max-width: 1024px) {
        letter-spacing: -0.04em;
        margin-bottom: 0;
        font-size: ($titleSizeH1 - 10px);
      }

      @media (max-width: 639px) {
        font-size: ($titleSizeH1 - 10px)/2;
      }
    }
  }

  &__playblock {
    position: relative;
    padding-left: 65px;

    @media (max-width: 1024px) {
      padding-left: 90px;
    }

    @media (max-width: 639px) {
      padding-left: 65px;
    }
  }

  &__btn {
    @media (max-width: 1024px) {
      font-size: $titleSizeH3;
      letter-spacing: -0.04em;
      padding: 10px 44px;
      border-radius: 50px;
    }

    @media (max-width: 639px) {
      font-size: $titleSizeH3/2;
      padding: 10px 44px;
      border-radius: 25px;
    }
  }

  &__play-btn {
    position: absolute;
    top: 50%;
    left: 0;
    width: 50px;
    height: 50px;
    transform: translate(0, -50%);

    @media (max-width: 1024px) {
      width: 75px;
      height: 75px;
    }

    @media (max-width: 639px) {
      width: 50px;
      height: 50px;
    }
  }

  &__content {
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all .25s ease-in-out;
    background-color: #000;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    z-index: 1003;

    iframe {
      width: 100%;
      height: 100%;
      z-index: 1004;
      backface-visibility: hidden;
      transform: translate3d(0, 0, 0);

      @media (max-width: 1024px) {
        height: calc(100vh - 40px);
      }
    }
  }

  &.active {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 1000;

    .intro-video__container {
      display: none;
    }

    .intro-video__content {
      position: relative;
      display: block;
      opacity: 1;
      pointer-events: all;
      z-index: 1003;

      @media (max-width: 1024px) {
        padding-top: 40px;
      }
    }
  }

  &__close {
    position: absolute;
    display: block;
    top: 10px;
    right: 50px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1005 !important;
    background-color: rgba(0, 0, 0, .5);
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;

    @media (max-width: 1024px) {
      top: 5px;
      right: 5px;
    }

    &::before,
    &::after {
      position: absolute;
      content: '';
      left: 0;
      width: 30px;
      height: 2px;
      background-color: $bgColor;
    }

    &::before {
      top: 14px;
      transform: rotate(45deg);
    }

    &::after {
      bottom: 14px;
      transform: rotate(-45deg);
    }
  }
}
