.lead {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  box-sizing: border-box;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  min-height: 1058px;

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 260px 176px 182px;
    width: 50%;
    min-height: 1058px;
    transition: all 0.25s ease-in-out;

    @media #{$desktop} {
      padding-left: 60px;
      padding-right: 60px;
    }

    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: 0% 100%;
        background-repeat: no-repeat;
        opacity: 0;
        transition: opacity 1.25s ease-in-out;
        z-index: 3;
      }

      &:hover::before {
        opacity: 0.55;
      }

    &:hover {

    }

    &_hero {
      &::before {
        background-image: linear-gradient(to top, $additionalColorBlue 0, transparent 526px);
      }

      & .lead__text::before {
        left: 4px;
        background-color: $additionalColorBlue;
      }

      /*&:hover {
      }*/
    }

    &_employer {
      padding-left: 190px;

      &::before {
        background-image: linear-gradient(to top, $additionalColorGreen 0, transparent 526px);
      }

      & .lead__text::before {
        background-color: $additionalColorGreen;
      }

      /*&:hover {
      }*/
    }
  }

  &__btn {
    position: relative;
    margin-left: 5px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(200px);
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    z-index: 5;

    .lead__item:hover & {
      visibility: visible;
      transform: translateY(0);
      opacity: 1;
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1058px;
    z-index: 1;
  }

  &__bg-img {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      z-index: 2;
    }

    &_hero {
      img {
        left: 0;
      }
    }

    &_employer {
      img {
        right: 0;
      }
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 3;
    }
  }

  &__text {
    position: relative;
    padding-top: 484px;
    z-index: 4;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 12px;
      height: 470px;
    }
  }

  &__logo {
    position: absolute;
    top: 294px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
  }

}
