.lead {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  overflow: hidden;

  @media #{$tablet} {
    flex-direction: column;
    height: auto;
  }

  @media #{$mobile} {
  }

  &_fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1100;
    overflow: hidden;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 9.5%;
    width: 50%;
    transition: height 1.25s ease-in-out, min-height 1.25s ease-in-out, max-height 1.25s ease-in-out, width 1.25s ease-in-out, opacity 1.25s ease-in-out, padding 1.25s ease-in-out;

    @media #{$desktop2} {
      padding-right: 9.5%;
    }

    @media #{$desktop} {
      padding-left: 9.5%;
    }

    @media #{$tablet2} {
      padding: 0 9.5%;
    }

    @media #{$tablet} {
      overflow: hidden;
      width: 100%;
      min-height: 264px;
      height: 264px;
    }

    @media #{$mobile} {
      min-height: 132px;
      height: 132px;
    }

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: 0% 100%;
      background-repeat: no-repeat;
      opacity: 0;
      transition: opacity 1.25s ease-in-out;
      z-index: 3;
    }

    &:hover::before {
      opacity: 0.55;
    }

    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 3;
      transition: opacity 0.25s ease-in-out;

      @media #{$tablet} {
        opacity: 0.55;
      }
    }

    &:hover::after {
      opacity: 0;
    }

    &_hero {
      &::before {
        background-image: linear-gradient(to top, $additionalColorBlue 0, transparent 526px);

        @media #{$mobile} {
          background-image: linear-gradient(to top, $additionalColorBlue 0, transparent 220px);
        }
      }

      &::after {
        background-color: $additionalColorBlue;
      }

      & .lead__text::before {
        left: 0;
        background-color: $additionalColorBlue;

        @media #{$tablet} {
          left: 0;
        }
      }

      & .text-block__content {
        @media #{$tablet} {
          opacity: 0;
          width: 0;
          height: 0;
          overflow: hidden;
        }
      }

      &:hover {
        @media #{$tablet} {
          height: 872px;
          min-height: 872px;
          padding-right: 9.5%;
          width: 100%;
        }

        @media #{$mobile} {
          height: 438px;
          min-height: 438px;
        }

        & .text-block__content {
          @media #{$tablet} {
            opacity: 1;
            width: 100%;
            height: auto;
            overflow: visible;
          }
        }
      }

      &.js-hero-hover-active {
        width: calc(50% + 130px);
        padding-right: calc(9.5% + 130px);

        @media (min-width: 1921px) {
          padding-right: calc(9.5px + 130px);
        }

        @media #{$desktop2} {
          padding-right: calc(9.5% + 130px);
        }

        @media #{$tablet2} {
          width: calc(50% + 102px);
          padding-right: calc(9.5% + 102px);
        }

        @media #{$tablet} {
          height: 872px;
          min-height: 872px;
          padding-right: 9.5%;
          width: 100%;
        }

        @media #{$mobile} {
          height: 438px;
          min-height: 438px;
        }
      }

      &.js-hero-hover-none {
        width: calc(50% - 130px);
        padding-right: calc(9.5% - 130px);

        @media #{$desktop2} {
          padding-right: calc(9.5% - 130px);
        }

        @media #{$tablet2} {
          width: calc(50% - 102px);
          padding-right: calc(9.5% - 102px);
        }

        @media #{$tablet} {
          width: 100%;
          padding-right: 9.5%;
          min-height: 264px;
        }

        @media #{$mobile} {
          min-height: 132px;
        }
      }
    }

    &_employer {

      &::before {
        background-image: linear-gradient(to top, $additionalColorGreen 0, transparent 526px);

        @media #{$mobile} {
          background-image: linear-gradient(to top, $additionalColorGreen 0, transparent 220px);
        }
      }

      &::after {
        background-color: $additionalColorGreen;
      }

      & .lead__text::before {
        background-color: $additionalColorGreen;
      }

      & .text-block__content {
        @media #{$tablet} {
          opacity: 0;
          width: 0;
          height: 0;
          overflow: hidden;
        }
      }

      &:hover {

        @media #{$tablet} {
          height: 872px;
          min-height: 872px;
          width: 100%;
          padding-left: 9.5%;
        }

        @media #{$mobile} {
          height: 438px;
          min-height: 438px;
        }

        & .text-block__content {
          @media #{$tablet} {
            opacity: 1;
            width: 100%;
            height: auto;
            overflow: visible;
          }
        }
      }

      &.js-employer-hover-active {
        width: calc(50% + 130px);
        padding-left: calc(9.5% + 130px);

        @media #{$desktop} {
          padding-left: calc(9.5% + 130px);
        }

        @media #{$tablet2} {
          width: calc(50% + 102px);
          padding-left: calc(9.5% + 102px);
        }

        @media #{$tablet} {
          height: 872px;
          min-height: 872px;
          width: 100%;
          padding-left: 9.5%;
        }

        @media #{$mobile} {
          height: 438px;
          min-height: 438px;
        }
      }

      &.js-employer-hover-none {
        width: calc(50% - 130px);
        padding-left: calc(9.5% - 130px);

        @media #{$desktop} {
          padding-left: calc(9.5% - 130px);
        }

        @media #{$tablet2} {
          width: calc(50% - 102px);
          padding-left: calc(9.5% - 102px);
        }

        @media #{$tablet} {
          width: 100%;
          padding-left: 9.5%;
          min-height: 264px;
        }

        @media #{$mobile} {
          min-height: 132px;
        }
      }
    }
  }

  &__btn {
    position: relative;
    margin-left: 5px;
    align-self: flex-start;
    visibility: hidden;
    opacity: 0;
    transform: translateY(200px);
    transition: transform 1s ease-in-out, opacity 1s ease-in-out, background 0.25s ease-in-out, color 0.25s ease-in-out;
    z-index: 5;

    @media #{$tablet} {
      position: absolute;
      top: 0;
      left: 0;
      margin-left: 0;
      width: 0;
      height: 0;
      overflow: hidden;
    }

    .lead__item_hero:hover &,
    .lead__item_employer:hover & {
      position: relative;
      visibility: visible;
      transform: translateY(0);
      opacity: 1;

      @media #{$tablet} {
        width: auto;
        height: auto;
        overflow: visible;
      }
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1058px;
    z-index: 1;

    @media #{$tablet} {
      height: 876px;
    }

    @media #{$mobile} {
      height: 438px;
    }
  }

  &__bg-img {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    @media #{$tablet} {
      height: 100%;
      min-height: 100%;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      width: 0;
      margin: auto;
      object-fit: cover;
      z-index: 2;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 3;
    }
  }

  &__text {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 42px;
    z-index: 4;
    transition: padding 1.25s ease-in-out;

    @media #{$tablet2} {
      margin-bottom: 20px;
    }

    @media #{$tablet} {
      margin-bottom: 12px;
    }

    &::before {
      position: absolute;
      content: '';
      bottom: calc(100% + 14px);
      left: 0;
      width: 12px;
      height: 200%;
      transition: height 1.25s ease-in-out;

      @media #{$mobile} {
        width: 6px;
        bottom: calc(100% + 8px);
      }
    }

    & .text-block__title_mainpage {
      padding-right: 0;
    }
  }

  &__logo {
    position: absolute;
    top: 214px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;

    @media #{$tablet} {
      top: 48px;
      left: auto;
      right: 8%;
      transform: none;
    }

    @media #{$mobile} {
      top: 24px;
    }
  }

}
