.logo {
  position: relative;
  display: block;
  font-size: 0;

  &_footer {
    margin-top: 16px;
    margin-right: 93px;
    width: 133px;
    height: 92px;
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    &_footer {
      fill: url('#footer-logo-gradient');
      width: 133px;
      height: 92px;      
    }
  }
}
