@media (max-width: 1279px) {
  @for $i from 1 through 10 {
    .main-menu__item:nth-child(#{$i}) {
      transition-delay: 0.1s + 0.1s * $i;
    }
  }
}

.main-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  box-sizing: border-box;

  @media (min-width: 1280px) {
    .page-header_no-switch-btn & {
      position: absolute;
      transform: translateX(-50%);
      left: 50%;
    }
  }

  @media (max-width: 1279px) {
    flex-grow: 0;
  }

  &__burger {
    display: none;
    width: 35px;
    padding: 15px 0;
    cursor: pointer;
    position: relative;

    @media (max-width: 1279px) {
      display: inline-block;
    }

    @media (max-width: 639px) {
      padding: 8px 0;
      width: 20px;
    }

    &::before, &::after, span {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #fff;
      transition: all .25s ease-in-out;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      transform: translateY(-50%);
      top: 50%;
    }
  }

  &__burger-control {
    display: none;

    &:checked + .main-menu__burger {

      &::before {
        top: 14px;
        transform: rotate(45deg);

        @media (max-width: 639px) {
          top: 7px;
        }
      }

      &::after {
        bottom: 14px;
        transform: rotate(-45deg);

        @media (max-width: 639px) {
          bottom: 7px;
        }
      }

      span {
        opacity: 0;
      }
    }

    &:checked ~ .main-menu__list {
      opacity: 1;
      pointer-events: all;

      .main-menu__item {
        opacity: 1;
      }
    }
  }

  &__list {
    box-sizing: border-box;
    padding-left: 28px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;

    @media (max-width: 1279px) {
      padding-left: 0;
      opacity: 0;
      pointer-events: none;
      transition: opacity .25s ease-in-out;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: auto;
      background-color: $bgMenuColor;
      background-image: $mainGradient;
      z-index: 120;
    }

    .page-header_no-switch-btn &{
      // padding-left: 210px;
      padding-left: 0;
      justify-content: center;

      // @media (max-width: 1279px) {
      //   padding-left: 0;
      // }
    }
  }

  &__item {
    display: inline-block;
    margin-left: 53px;
    font-size: 0;

    @media (max-width: 1380px) {
      margin-left: 37px;
    }

    @media (max-width: 1279px) {
      width: 100%;
      margin-left: 0;
      opacity: 0;
      transition: opacity 0.25s ease-in-out;
    }

    &.hidden {
      display: none;
    }

    &.visible {
      display: inline-block;
    }

    .page-header_no-switch-btn & {
      margin-left: 30px;

      @media (max-width: 1279px) {
        width: 100%;
        margin-left: 0;
      }
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &__link {
    display: inline-block;
    padding: 14px 10px 13px;
    font-family: $mainFontFamily;
    font-size: $menuTextSize;
    letter-spacing: -0.04em;
    font-weight: 300;
    line-height: 1.2em;
    color: $mainFontColorLight;
    text-decoration: none;

    @media (max-width: 1279px) {
      width: 100%;
      text-align: center;
    }

    &:hover {
      background-color: $bgHeaderMenuItemHover;
    }

    .main-menu__item.active & {
      color: $additionalColorGreen;

      &:hover {
        background-color: transparent;
      }
    }
  }
}
