@media #{$tablet2} {
  @for $i from 1 through 3 {
    .main-menu__item:nth-child(#{$i}) {
      transition-delay: 0.8s + 0.2s * $i;
    }
  }
}

.main-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  box-sizing: border-box;

  @media #{$tablet2} {
    order: 1;
    flex-grow: 0;
  }

  &__burger {
    display: none;
    font-size: 0;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    width: 35px;
    height: 30px;
    cursor: pointer;

    @media #{$tablet2} {
      display: inline-block;
    }

    @media #{$tablet} {
      width: 30px;
      height: 26px;
    }

    @media #{$mobile} {
      width: 18px;
      height: 18px;
      margin-top: -4px;
    }
  }

  &__burger-item {
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: $bgColor;
    transition: all 0.5s ease-in-out;

    &::before,
    &::after {
      position: absolute;
      content: '';
      left: 0;
      width: 35px;
      height: 2px;
      background-color: $bgColor;
      transform: rotate(0deg);
      transition: all 0.5s ease-in-out;

      @media #{$tablet} {
        width: 30px;
      }

      @media #{$mobile} {
        width: 18px;
      }
    }

    &::before {
      top: -12px;

      @media #{$tablet} {
        top: -10px;
      }

      @media #{$mobile} {
        top: -6px;
      }
    }

    &::after {
      bottom: -12px;

      @media #{$tablet} {
        bottom: -10px;
      }

      @media #{$mobile} {
        bottom: -6px;
      }
    }

    @media #{$tablet} {
      width: 30px;
    }

    @media #{$mobile} {
      width: 18px;
    }

    .main-menu__burger.js-menu-opened & {
      background-color: transparent;
      width: 1px;

      &::before {
        top: 0;
        transform: rotate(45deg);
      }

      &::after {
        bottom: 0;
        transform: rotate(-45deg);
      }
    }
  }

  &__list {
    box-sizing: border-box;
    padding-left: 28px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;

    @media #{$tablet2} {
      padding-left: 0;
      //opacity: 0;
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: auto;
    }

    .page-header_no-switch-btn &{
      padding-left: 210px;
      justify-content: center;

      @media #{$tablet2} {
        padding-left: 0;
      }
    }

    &.js-menu-opened {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 0;
      background-color: $bgMenuColor;
      background-image: $mainGradient;
      z-index: 120;
    }
  }

  &__item {
    display: inline-block;
    margin-right: 53px;
    font-size: 0;

    @media #{$desktop} {
      margin-right: 37px;
    }

    @media #{$tablet2} {
      width: 100%;
      margin-right: 0;
      //experiment
      opacity: 0;
      transition: all 0.5s ease-in-out;
    }

    .main-menu__list.js-menu-opened & {
      opacity: 1;
    }

    &.hidden {
      display: none;
    }

    &.visible {
      display: inline-block;
    }

    .page-header_no-switch-btn & {
      margin-right: 30px;

      @media #{$tablet2} {
        width: 100%;
        margin-right: 0;
      }
    }

    &:last-child {
      margin-right: 0;
    }

  }

  &__link {
    display: inline-block;
    padding: 14px 10px; /*12px 10px 16px*/
    font-family: $mainFontFamily;
    font-size: $menuTextSize;
    letter-spacing: -0.04em;
    font-weight: 300;
    line-height: 1.2em;
    color: $mainFontColorLight;
    text-decoration: none;

    @media #{$tablet2} {
      width: 100%;
      text-align: center;
    }

    &:hover {
      background-color: $bgHeaderMenuItemHover;
    }

    .main-menu__item.active & {
      color: $additionalColorGreen;

      &:hover {
        background-color: transparent;
      }
    }
  }
}
