.main-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  box-sizing: border-box;

  @media #{$tablet2} {
    order: 1;
    flex-grow: 0;
  }

  &__burger {
    position: relative;
    display: none;
    font-size: 0;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    width: 35px;
    height: 30px;
    cursor: pointer;

    @media #{$tablet2} {
      display: inline-block;
    }

    @media #{$tablet} {
      width: 30px;
      height: 26px;
    }

    @media #{$mobile} {
      width: 18px;
      height: 14px;
    }
  }

  &__burger-item {
    display: block;
    width: 35px;
    height: 2px;
    background-color: $bgColor;
    transition: width 0.25s ease-in-out, opacity 0.25s ease-in-out;

    &::before,
    &::after {
      position: absolute;
      content: '';
      left: 0;
      width: 35px;
      height: 2px;
      background-color: $bgColor;
      transition: transform 0.25s ease-in-out;

      @media #{$tablet} {
        width: 30px;
      }

      @media #{$mobile} {
        width: 18px;
      }
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    @media #{$tablet} {
      width: 30px;
    }

    @media #{$mobile} {
      width: 18px;
    }

    .main-menu__burger.js-menu-opened & {
      background-color: transparent;

      &::before {
        top: 50%;
        transform: rotate(45deg);
      }

      &::after {
        bottom: 50%;
        transform: rotate(-45deg);
      }
    }
  }

  &__list {
    box-sizing: border-box;
    padding-left: 28px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;

    @media #{$tablet2} {
      padding-left: 0;
      width: 0;
      height: 0;
      overflow: hidden;
    }

    .page-header_no-switch-btn &{
      padding-left: 210px;
      justify-content: center;
    }

    &.js-menu-opened {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: auto;
      flex-direction: column;
      align-items: center;
      overflow: visible;
      background-color: $bgMenuColor;
      background-image: $mainGradient;
      z-index: 100;
    }
  }

  &__item {
    display: inline-block;
    margin-right: 53px;
    font-size: 0;

    @media #{$tablet2} {
      width: 100%;
      margin-right: 0;
    }

    .page-header_no-switch-btn & {
      margin-right: 30px;
    }

    &:last-child {
      margin-right: 0;
    }

  }

  &__link {
    @include letter-spacing($menuTextSize);

    display: inline-block;
    padding: 12px 10px 16px;
    font-family: $mainFontFamily;
    font-size: $menuTextSize;
    font-weight: 300;
    line-height: 1.2em;
    color: $mainFontColorLight;
    text-decoration: none;

    @media #{$tablet2} {
      width: 100%;
      text-align: center;
    }

    &:hover {
      background-color: $bgHeaderMenuItemHover;
    }

    .main-menu__item.active & {
      color: $additionalColorGreen;

      &:hover {
        background-color: transparent;
      }
    }
  }
}
