.makeresume-options {
  &__container {
    padding-bottom: 69px;

    @media #{$mobile} {
      padding-left: 12px;
      padding-bottom: 10px
    }
  }

  &__text {
    .text-block__item {
      margin-bottom: 37px;
      letter-spacing: -0.04em;

      @media #{$mobile} {
        padding-left: 24px;
      }

      &::before {
        left: 4px;
        letter-spacing: -0.04em;
        font-size: 30px;

        @media #{$mobile} {
          font-size: 22px;
        }
      }
    }
  }
  .text-block__title {
    @media #{$mobile} {
      margin-bottom: 20px;
    }
  }
}
