.makeresume-moreoptions {
  &__container {
    padding-bottom: 66px;

    @media #{$mobile} {
      padding-left: 12px;
      padding-bottom: 10px;
    }
  }

  &__text {
    .text-block__title {
      margin-bottom: 30px;
    }

    .text-block__item {
      margin-bottom: 37px;
      padding-left: 48px;
      letter-spacing: -0.04em;

      @media #{$mobile} {
        padding-left: 24px;
      }

      &::before {
        font-size: 30px;
        letter-spacing: -0.04em;
        top: -1px;
        left: 4px;

        @media #{$mobile} {
          font-size: 11px;
        }
      }
    }
  }
}
