.makeresume-services {
  &__container {
    padding-bottom: 70px;
  }

  &__list {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 10px;
  }

  &__item {
    width: 16%;
    margin-right: 5.5%;

    &:first-child {
      width: 14%;
    }

    &:nth-child(5n) {
      margin-right: 0;
    }

    .text-block__title {
      margin-bottom: 14px;
    }
  }
}
