.makeresume-moreoptions {
  &__container {

  }

  &__text {
    .text-block__item {
      @include letter-spacing($textSize);

      margin-bottom: 33px;

      &::before {
        font-size: 30px;
        margin-left: 4px;
        margin-right: 26px;
      }
    }
  }
}
