.makeresume-options {
  &__container {
    padding-bottom: 69px;
  }

  &__text {
    .text-block__item {
      @include letter-spacing($textSize);

      margin-bottom: 37px;

      @media #{$mobile} {
        padding-left: 24px;
      }

      &::before {
        left: 4px;
        font-size: 30px;

        @media #{$mobile} {
          font-size: 22px;
        }
      }
    }
  }
}
