.makeresume-describe {
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__img {
    position: relative;
    min-width: 603px;
    width: 603px;
    height: 402px;
    overflow: hidden;
    margin-right: 10px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      width: 0;
      margin: auto;
      object-fit: cover;
    }
  }
}
