.makeresume-services {
  &__container {
    padding-bottom: 70px;

    @media #{$mobile} {
      padding-left: 15px;
      padding-bottom: 35px
    }
  }

  &__list {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 10px;

    @media #{$tablet} {
      flex-direction: column;
    }
  }

  &__item {
    width: 16%;
    margin-right: 5.5%;

    @media #{$tablet} {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
      text-align: left;
    }

    @media #{$mobile} {
      margin-bottom: 2px;
    }

    &:first-child {
      width: 14%;

      @media #{$tablet} {
        width: 100%;
      }
    }

    &:nth-child(5n) {
      margin-right: 0;
    }

    .text-block__title {
      margin-bottom: 14px;

    }
  }
  .text-block__title  {
    @media #{$mobile} {
      margin-bottom: 6px;
    }
  }
  .text-block__content p {
    @media #{$mobile} {
      margin-bottom: 12px;
      line-height: 1.4;
      letter-spacing: -0.04em;
    }
  }
}
