.news2-container {

}
.news2-container .news-top-menu {
  margin-left: -222px;
  margin-top: 18px;
  padding-bottom: 60px;
}
.images_block  {
  position: relative;
}
.one-img{
  width: 1540px;
  white-space: nowrap;
}
.shadow-green-mask {
  position: absolute;
  width: 770px;
  height: 659px;
  right: 0;
  opacity: 0.95;
  background: -moz-linear-gradient(-45deg, rgba(12,166,124,1) 0%, rgba(9,131,98,1) 13%, rgba(0,0,0,0.57) 62%, rgba(0,0,0,0.24) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(12,166,124,1) 0%,rgba(9,131,98,1) 13%,rgba(0,0,0,0.57) 62%,rgba(0,0,0,0.24) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(12,166,124,1) 0%,rgba(9,131,98,1) 13%,rgba(0,0,0,0.57) 62%,rgba(0,0,0,0.24) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0ca67c', endColorstr='#3d000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.tree-img {
  width: 1540px;
  white-space: nowrap;
  margin-left: -50px;
  padding-top: 60px;
}
.tree-img .images_block {
  display: inline-block;
  margin-left: 50px;
  width: 480px;
}
.top-img .images_block h3 {
  white-space:normal;
  position: absolute;
  width:560px;
  color: white;
  font-weight: 100;
  font-size: 60px;
  top: 107px;
  right: 105px;
  line-height: 1.2em;
  letter-spacing:-1.5px;
  z-index: 1;
}
.top-img .images_block p {
  white-space:normal;
  position: absolute;
  width:570px;
  color: white;
  font-weight: 100;
  font-size: 22px;
  bottom: 185px;
  right: 90px;
  line-height: 1.15em;
  letter-spacing:-0.5px;
  z-index: 1;
}
.tree-img .images_block h6 {
  white-space:normal;
  position: absolute;
  width:380px;
  color: white;
  font-weight: 100;
  font-size: 39px;
  bottom: 102px;
  left: 45px;
  line-height: 1.15em;
  letter-spacing:-1.5px;
  z-index: 1;
}
.tree-img .images_block p {
  white-space:normal;
  position: absolute;
  width:380px;
  color: #25ffc4;
  font-weight: 100;
  font-size: 15px;
  bottom: 22px;
  left: 45px;
  line-height: 1.15em;
  letter-spacing:-0.5px;
  z-index: 1;
}
.follow {
  height: 150px;
  text-align: center;
}
.follow p{
  font-size: 30px;
  margin-top: 10px;
  margin-left: -30px;
  font-weight: 500;
  letter-spacing:-0.7px;
}
.follow a{
  margin-top: -50px
}

.two-img {
  width: 1540px;
  margin-left: -50px;
  white-space: nowrap;
}
.two-img .images_block {
  display: inline-block;
  margin-left: 50px;
}
.two-img .images_block h6 {
  white-space:normal;
  position: absolute;
  width:380px;
  color: white;
  font-weight: 100;
  font-size: 39px;
  bottom: 102px;
  left: 45px;
  line-height: 1.15em;
  letter-spacing:-1.5px;
  z-index: 1;
}
.two-img .images_block p {
  white-space:normal;
  position: absolute;
  width:380px;
  color: #25ffc4;
  font-weight: 100;
  font-size: 15px;
  bottom: 22px;
  left: 45px;
  line-height: 1.15em;
  letter-spacing:-0.5px;
  z-index: 1;
}
.images_block .shadow-mask {
  position: absolute;
  height: 280px;
  background-color: black;
  opacity: 0.5;
  bottom: 0px;
  width: 480px;
}
.one-img {
  overflow:hidden;
  width:1540px;
  height: 659px;

}
.bottom-img {
  position: relative;
}
.bottom-opacity {
  position: absolute;
  width: 1550px;
  height: 659px;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 83%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 83%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 83%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
