.clearfix { clear: both; }
.news2-container .news-top-menu {
  margin-top: 20px;
  margin-bottom: 49px;
  margin-left: -5px;
}
.news2-container .news-top-menu .btn.bnt_dark {
  padding: 5px 12px;
  margin-left: 13px;
  border: 1px solid #d9d9d9;

}
.news2-container .news-top-menu li.btn.bnt_dark.active  {
  background-color: #374851;
  color: white;
  border: none;
}
.tree-img .images_block.hidden {
  display: none;
}
.news2-container .news-top-menu li.btn.bnt_dark {
  width: 200px;
  display: inline;
  font-size: 15px;
  color: #374851;
}
.news2-container .news-top-menu h1.news_page {
  font-size: 70px;
  margin-top: 11px;
  font-weight: 100;
  color: #374851;
  padding-bottom: 25px;
  padding-top: 111px;
}
.images_block  {
  position: relative;
}
.one-img{
  width: 1540px;
  white-space: nowrap;
  overflow:hidden;
}
.news2-detail .images_block::before {
  position: absolute;
  bottom: 0;
  right: 0;
  content: '';
  width: 100%;
  height: 43%;
  background-color: rgba(0,0,0,.59);
  z-index: 1;
}
.news2-detail .images_block.one-img::before {
  position: absolute;
  bottom: 0;
  right: 0;
  content: '';
  width: 50%;
  height: 100%;
  opacity: 0.8;
  background: -moz-linear-gradient(-45deg, rgba(12,166,124,1) 0%, rgba(9,131,98,1) 13%, rgba(0,0,0,0.57) 62%, rgba(0,0,0,0.24) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(12,166,124,1) 0%,rgba(9,131,98,1) 13%,rgba(0,0,0,0.57) 62%,rgba(0,0,0,0.24) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(12,166,124,1) 0%,rgba(9,131,98,1) 13%,rgba(0,0,0,0.57) 62%,rgba(0,0,0,0.24) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0ca67c', endColorstr='#3d000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  z-index: 1;
}
.news2-detail .images_block img   {
 -moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;
 }
.news2-detail .images_block:hover img {
 -webkit-transform: scale(1.08);
 -moz-transform: scale(1.08);
 -o-transform: scale(1.08);
 }
 .news2-detail .images_block.one-img:hover img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  }
.images_block .arrow_right {
  position: absolute;
  right: 40px;
  bottom: 30px;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  z-index: 2
}

.images_block .arrow_right:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.tree-img {
  width: 1540px;
  white-space: nowrap;
  margin-left: -50px;
  padding-top: 60px;
}

.tree-img .images_block {
  display: inline-block;
  margin-left: 50px;
  width: 480px;
}
.news2-container {
  margin-left: 13px;
}
.top-img .images_block h3 {
  white-space:normal;
  position: absolute;
  width:560px;
  color: white;
  font-weight: 100;
  font-size: 60px;
  top: 107px;
  right: 105px;
  line-height: 1.2em;
  letter-spacing:-1.5px;
  z-index: 1;
}
.top-img .images_block p {
  white-space:normal;
  position: absolute;
  width:570px;
  color: white;
  font-weight: 100;
  font-size: 22px;
  bottom: 185px;
  right: 90px;
  line-height: 1.15em;
  letter-spacing:-0.5px;
  z-index: 1;
}
.tree-img .images_block h6 {
  white-space:normal;
  position: absolute;
  width:380px;
  color: white;
  font-weight: 100;
  font-size: 39px;
  bottom: 102px;
  left: 45px;
  line-height: 1.28em;
  letter-spacing:-1.2px;
  z-index: 1;
}
.tree-img .images_block p {
  white-space:normal;
  position: absolute;
  width:380px;
  color: #25ffc4;
  font-weight: 100;
  font-size: 14px;
  bottom: 26px;
  left: 49px;
  line-height: 1.15em;
  letter-spacing:-0.5px;
  z-index: 1;
}
.news2-container .follow {
  position: relative;
  height: 260px;
  text-align: center;
  vertical-align: middle;
}
.news2-container .follow ul {
  position: absolute;
  top: 100px;
  left: 245px;
}
.news2-container .follow p{
  position: absolute;
  font-size: 30px;
  left: -905px;
  margin-top: -10px;
  font-weight: 500;
  letter-spacing:-1px;
  width: 890px;
}
.news2-container .follow .btn.bnt_dark {
  position: absolute;
  top: 107px;
  right: 157px;
  width: 180px;
}
.follow .btn span {
  position: absolute;
  left: 10px;
  bottom: 5px;
  font-size: 35px;
  font-weight: 100;
  color: #25ffc4;
}
.follow .btn:hover span {
  color: #374851;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}
.follow .btn:hover p {
  display: inline-block;
  border-bottom: 2px solid #25ffc4;
  padding-bottom: 2px;
}
.two-img {
  width: 1540px;
  margin-left: -50px;
  white-space: nowrap;
  margin-bottom: 40px;
}
.two-img .images_block {
  display: inline-block;
  margin-left: 50px;
}
.two-img .images_block h6 {
  white-space:normal;
  position: absolute;
  width:380px;
  color: white;
  font-weight: 100;
  font-size: 39px;
  bottom: 102px;
  left: 45px;
  line-height: 1.15em;
  letter-spacing:-1.5px;
  z-index: 1;
}
.two-img .images_block p {
  white-space:normal;
  position: absolute;
  width:380px;
  color: #25ffc4;
  font-weight: 100;
  font-size: 15px;
  bottom: 22px;
  left: 45px;
  line-height: 1.15em;
  letter-spacing:-0.5px;
  z-index: 1;
}

.one-img {
  overflow:hidden;
  width:1540px;
  height: 659px;

}
.bottom-img {
  position: relative;
}
.bottom-opacity {
  position: absolute;
  width: 1550px;
  height: 659px;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 83%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 83%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 83%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

@media screen and (max-width: 1690px) {

}
@media screen and (max-width: 1440px) {
  .news2-detail {
    width: 1400px;
  }
  .news2-detail img {
    width: 100%;
    height: 100%;
  }
  .news2-detail .images_block h3 {
    font-size: 40px;
    top: 250px;
    right:150px;
    width: 35%;
  }
  .news2-detail .images_block.one-img p {
    width: 35%;
    right: 150px;
  }
  .tree-img {
    margin-left:0px;
  }
  .images_block .one-img {}

  .tree-img .images_block {
    margin: 0;
    width: 470px;
  }
  .tree-img .images_block.first {
    margin-left: 0px;
  }
  .tree-img .images_block.second,
  .tree-img .images_block.third {
    margin-left: 0px;
  }
  .news2-detail .bottom-img .images_block.small-img {
    margin-left: -65px;
  }
  .news2-container .follow .btn.bnt_dark {
    margin-top: -5px;
  }
  .news2-detail .follow p {
    font-size: 24px;
    margin-left: 60px;
    margin-top: 0px;
  }

}
@media screen and (max-width: 1380px) {
  .news2-detail {
    width: 1300px;
  }
  .one-img,
  .two-img,
  .tree-img {
    width: 1300px;
  }
  .tree-img {
    margin-left: 0;
  }
  .news2-detail img {
    width: 100%;
    height: 100%;
  }
  .news2-detail .images_block h3 {
    font-size: 45px;
    top: 250px;
    right:50px;
    width: 40%;
  }
  .news2-detail .images_block.one-img p {
    width: 35%;
    right: 100px;
    bottom: 110px;
  }
  .news2-detail .shadow-green-mask {
    width: 50%;
    height: 100%;
    right: -50px;
  }
  .news2-detail .follow .btn {
    margin-left: 50px;
  }

  .tree-img .images_block  {
    width: 384px;
    margin: 80px;
    margin-top: -20px;
  }
  .tree-img .images_block img {
    width: 100%;
  }
  .tree-img .images_block h6 {
    width: 70%;
    font-size: 27px;
    right: 100px;
    bottom: 110px;
  }
  .news2-detail .bottom-img .images_block.small-img {
    margin-left: 115px;
  }
  .news2-detail .follow p {
    font-size: 20px;
    margin-left: 270px;
    width: 550px;

  }
  .two-img .big-img {
    width: 65%;
    height: 100%;
  }
  .two-img .small-img {
    margin-left: 50px;
    width: 30.98%;
    height: 100%;
  }
  .two-img .images_block {
    margin-left: -10px
  }
  .two-img .images_block h6 {
    width: 70%;
    font-size: 27px;
    right: 100px;
    bottom: 110px;
  }
  .bottom-opacity {
    width: 1306px;
    right: -16px;
  }
}
@media screen and (max-width: 1024px) {
  .news2-container {
    margin-left: 0;
  }
  .news2-detail {
    width: 1000px;
  }
  .one-img,
  .two-img,
  .tree-img {
    width: 1000px;
  }
  .two-img {
    margin-left: 0px;
  }
  .one-img {
    height: 100%
  }
  .news2-detail img {
    height: 80%;
  }
  .news2-detail .images_block h3 {
    font-size: 39px;
    top: 100px;
    right:30px;
    width: 44%;
  }
  .news2-detail .images_block.one-img p {
    width: 35%;
    right: 90px;
    bottom: 90px;
  }
  .news2-detail .shadow-green-mask {
    width: 50%;
    height: 100%;
    right: 20px;
  }
  .news2-detail .shadow-mask {
    width: 78%;
    height: 50%;
  }
  .tree-img .images_block  {
    width: 327px;
    margin: 0px;
    margin-right: 10px;
    margin-top: -20px;
  }
  .tree-img .images_block img {
    width: 100%;
  }
  .tree-img .images_block.second,
  .tree-img .images_block.third {
    margin-left: 0px;
  }
  .tree-img .images_block h6 {
    width: 70%;
    font-size: 27px;
    right: 110px;
    bottom: 80px;
  }
  .news2-detail .bottom-img .images_block.small-img {
    margin-left: 25px;
  }
  .news2-detail .follow ul {
    margin-left: -200px;
  }
  .news2-detail .follow p {
    font-size: 18px;
    width: 490px;
    margin-left: 350px;

  }
  .two-img .big-img {
    width: 65%;
    height: 100%;
    margin-left: 120px
  }
  .two-img .small-img {
    margin-left: -150px;
    width: 31%;
    height: 100%;
  }
  .news2-detail .shadow-mask {
    width: 98%;
    height: 50%;
  }
  .two-img .images_block {
    margin-left: 0px
  }
  .two-img .images_block h6 {
    width: 80%;
    font-size: 27px;
    right: 100px;
    bottom: 90px;
  }
  .bottom-opacity {
    width: 1306px;
    right: -16px;
  }
}


@media screen and (max-width: 640px) {
  .news2-detail {
    width: 640px;
  }
  .news2-container .news-top-menu ul.cathegory a {
    font-size: 11px;
  }
  .news2-container {
    margin-left: 0px;
  }
  .one-img,
  .two-img,
  .tree-img {
    width: 640px;
  }
  .tree-img {
    margin-left: 0px;
  }
  .one-img {
    height: 100%
  }
  .news2-detail img {
    width: 100%;
    height: 80%;
  }
  .news2-detail .images_block h3 {
    font-size: 25px;
    top: 50px;
    right:30px;
    width: 44%;
  }
  .news2-detail .images_block.one-img p {
    width: 40%;
    right: 50px;
    font-size: 15px;
    bottom: 40px;
  }
  .news2-detail .shadow-green-mask {
    width: 50%;
    height: 100%;
    right: 12px;
  }
  .news2-detail .shadow-mask {
    width: 78%;
    height: 50%;
  }
  .tree-img .images_block  {
    width: 206px;
    margin: 11px;
    margin-top: -20px;
  }
  .tree-img .images_block img {
    width: 100%;
  }
  .tree-img .images_block.second,
  .tree-img .images_block.third {
    margin-left: 0px;
  }
  .tree-img .images_block.third {
    margin-right: 0px;
  }
  .tree-img .images_block h6 {
    width: 60%;
    font-size: 17px;
    right: 160px;
    bottom: 60px;
    margin-left: -20px
  }
  .tree-img .images_block p,
  .two-img .images_block p {
    width: 40%;
    right: 50px;
    font-size: 11px;
    bottom: 40px;

  }
  .news2-detail .bottom-img .images_block.small-img {
    margin-left: 11px;
  }
  .news2-detail .follow {
    height: 140px;
  }
  .news2-detail .follow ul {
      top: 45px;
      left: 25px;
  }
  .news2-detail .follow p {
    font-size: 13px;
    left:0px;
    width: 525px;
    margin-top: 60px;
  }
  .news2-detail .follow .btn {
    right: 10px;
    bottom: 50px;
  }
  .two-img .big-img {
    width: 65%;
    height: 100%;
    margin-left: 120px
  }
  .two-img .small-img {
    margin-left: -150px;
    width: 30.98%;
    height: 100%;
  }
  .two-img .shadow-mask {
    width: 98%;
    height: 50%;
  }
  .two-img .images_block {
    margin-left: 50px
  }
  .bottom-img .two-img {
    margin-left: 0;
  }
  .bottom-img .two-img .images_block {
    margin-left: 0px;
  }
  .two-img .images_block h6 {
    width: 80%;
    font-size: 16px;
    right: 160px;
    bottom: 60px;
    margin-left: -20px
  }
  .bottom-opacity {
    width: 600px;
    height: 200px;
    right: 0px;
  }
}
@media screen and (max-width: 320px) {
  .news2-container .news-top-menu li.btn.bnt_dark:first-child {
display: none;
}
  .news2-container .news-top-menu ul {
    border-radius: 25px;
    border: 2px solid #c9d1d6;
    display: inline-block;
    overflow: hidden;
  }
  .news2-container .news-top-menu .switcher.up {
    display: inline-block;
    position: relative;
  }
  .news2-container .news-top-menu .switcher:before {
    content: "⌄";
    font: bold 30px Arial;
  }
  .news2-container .news-top-menu .switcher.up {
      top: 14px;
  }
  .news2-container .news-top-menu .switcher.up:before {
    content: "⌃";
  }

  .news2-container .news-top-menu li.btn.bnt_dark:first-child {
    display: list-item;
  }

  .news2-container .news-top-menu li.btn.bnt_dark {
    display: list-item;
    margin-left: 0;
    border-radius: 0;
    border: 0;
  }

  .news2-detail {
    width: 320px;
  }

  .news2-container .news-top-menu h1.news_page {
    font-size: 36px;
    margin-left: 35px;
    margin-top: -83px;
  }
  .news2-container .news-top-menu ul.cathegory a {
    font-size: 11px;
  }
  .one-img,
  .two-img,
  .tree-img {
    width: 320px;
  }
  .one-img {
    height: 100%
  }
  .news2-detail .images_block h3 {
    font-size: 22px;
    margin-top: 200px;
    left:36px;
    width: 67%;
  }
  .tree-img .images_block.hidden {
    display:  block;
  }
  .one-img {
  display: none;
}
.news2-container .news-top-menu {
  margin-bottom: 0px;
}
.tree-img {
  padding-top: 00px;
}

  .tree-img .images_block  {
    width: 320px;
    display: block;
    float: left;
    margin: 0px 0px 20px 0px;
  }
  .tree-img .images_block img {
    width: 100%;
    height: 370px;
  }
  .tree-img .images_block.second,
  .tree-img .images_block.third {
    margin-left: 0px;
  }
  .tree-img .images_block h6 {
    width: 60%;
    font-size: 17px;
    right: 160px;
    bottom: 60px;
    margin-left: -20px
  }
  .tree-img .images_block p,
  .two-img .images_block p {
    width: 40%;
    right: 50px;
    font-size: 11px;
    bottom: 40px;

  }
  .news2-detail .bottom-img .images_block.small-img {
    margin-left: 0px;
  }

  .news2-detail .follow p {
    font-size: 13px;
    left:60px;

  }
  .two-img .big-img {
    width: 100%;
    height: 100%;
  }
  .two-img .small-img {
    margin-left: -150px;
    width: 100%;
    height: 100%;
  }
  .two-img .images_block {
    margin-left: 0px;
    display: block;
    float: left;
  }
  .two-img .images_block h6 {
    width: 80%;
    font-size: 16px;
    right: 160px;
    bottom: 60px;
    margin-left: -20px
  }
  .bottom-img .tree-img {
    display: none;
  }
  .bottom-opacity {
    width: 320px;
    height: 200px;
    right: 0px;
  }
}
