.clearfix {
  clear: both;
}

.news-list {
  margin-top: 110px;
  margin-left: 65px;
  margin-left: 0px;
}
.news-list .container {
  width: 1540px;
  margin-left: -24px;

  @media screen and (max-width: 1024px) {
    width: 960px;
  }
  @media screen and (max-width: 640px) {
    width: 600px;
  }
  @media screen and (max-width: 320px) {
    width: 320px;
  }
}


.news-list .catalog li.btn.bnt_dark:first-child {
  display: none;
}
.news-list .catalog {
  margin-top: 20px;
  margin-bottom: 49px;
  margin-left: -5px;
}
.news-list .catalog {
  margin-bottom: 75px;
}
.news-list .catalog .btn.bnt_dark {
  padding: 5px 12px;
  margin-left: 13px;
  border: 1px solid #d9d9d9;

}
.news-list .catalog li.btn.bnt_dark.active  {
  background-color: #374851;
  color: white;
  border: none;
}


.news-list__content {
  position: relative;
  margin-left: -17px;
  margin-right: -17px;

  @media screen and (max-width: 1690px) {
    margin-left: -20px;
    margin-right: -20px;
  }
  @media screen and (max-width: 1380px) {
    margin-left: -18px;
    margin-right: -18px;
  }
  @media screen and (max-width: 1024px) {
    margin-left: -14px;
    margin-right: -14px;
  }
  @media screen and (max-width: 640px) {
    margin-left: -9px;
    margin-right: -9px;
  }
}
.news-list .images_block {
  float: left;
  width: 100%;
  height: 100%;
  padding-left: 17px;
  padding-right: 17px;
  margin-top: 34px;

  @media screen and (max-width: 1690px) {
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
  @media screen and (max-width: 1380px) {
    margin-top: 36px;
    padding-left: 18px;
    padding-right: 18px;
  }
  @media screen and (max-width: 1024px) {
    margin-top: 28px;
    padding-left: 14px;
    padding-right: 14px;
  }
  @media screen and (max-width: 640px) {
    margin-top: 18px;
    padding-left: 9px;
    padding-right: 9px;
  }
  @media screen and (max-width: 320px) {
    right: 0px;
  }
}


.news-list .images_block::before {
  position: absolute;
  bottom: 0;
  content: '';
  z-index: 1;

  right: 17px;

  @media screen and (max-width: 1690px) {
    right: 20px;
  }
  @media screen and (max-width: 1380px) {
    right: 18px;
  }
  @media screen and (max-width: 1024px) {
    right: 14px;
  }
  @media screen and (max-width: 640px) {
    right: 9px;
  }
}
.news-list .images_block:first-child::before {
  @media screen and (min-width: 360px) {
    width: 50%;
    height: 100%;
    opacity: 0.8;
    background: -moz-linear-gradient(-45deg, rgba(12,166,124,1) 0%, rgba(9,131,98,1) 13%, rgba(0,0,0,0.57) 62%, rgba(0,0,0,0.24) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(12,166,124,1) 0%,rgba(9,131,98,1) 13%,rgba(0,0,0,0.57) 62%,rgba(0,0,0,0.24) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(12,166,124,1) 0%,rgba(9,131,98,1) 13%,rgba(0,0,0,0.57) 62%,rgba(0,0,0,0.24) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0ca67c', endColorstr='#3d000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
}
.news-list .images_block:not(:first-child)::before {
    background-color: rgba(0,0,0,.59);
    width: 91.3%;
    height: 43%;
  @media screen and (max-width: 320px) {
    width: 95.6%;
  }
}


.images_block.col-1-3 {
  width: 33.33%;
  @media screen and (max-width: 320px) {
    width: 100%;
  }
}
.images_block.col-2-3 {
  width: 66.66%;
  @media screen and (max-width: 320px) {
    width: 150%;
  }
}
.news-list .images_block div {
  overflow: hidden;
}
.news-list .container li.btn.bnt_dark {
  width: 200px;
  display: inline;
  font-size: 15px;
  color: #374851;
}
.news-list .container h1.news_page {
  font-size: 70px;
  margin-top: 11px;
  font-weight: 100;
  color: #374851;
  padding-bottom: 25px;
  padding-top: 111px;
}

.news-list .images_block h6 {
  white-space:normal;
  position: absolute;
  width:380px;
  color: white;
  font-weight: 100;
  font-size: 39px;
  bottom: 102px;
  left: 45px;
  line-height: 1.28em;
  letter-spacing:-1.2px;
  z-index: 1;
}
.news-list .images_block p {
  white-space:normal;
  position: absolute;
  width:380px;
  color: #25ffc4;
  font-weight: 100;
  font-size: 14px;
  bottom: 26px;
  left: 49px;
  line-height: 1.15em;
  letter-spacing:-0.5px;
  z-index: 1;
}
.news-list .images_block:first-child h6 {
  white-space:normal;
  position: absolute;
  width:510px;
  color: white;
  font-weight: 100;
  font-size: 55px;
  top: 100px;
  bottom: auto;
  right: 200px;
  left: auto;
  line-height: 1.28em;
  letter-spacing:-1.2px;
  z-index: 1;
}
.news-list .images_block:first-child p {
  white-space:normal;
  position: absolute;
  width:580px;
  color: white;
  font-weight: 100;
  font-size: 24px;
  bottom: 190px;
  right: 120px;
  left: auto;
  line-height: 1.15em;
  letter-spacing:-0.5px;
  z-index: 1;
}
.news-list .images_block.col-2-3::before {
  width: 95.6%;
  @media screen and (max-width: 1690px) {
    right: 20px;
  }
  @media screen and (max-width: 1380px) {
    right: 19px;
  }
  @media screen and (max-width: 320px) {
    right: 0px;
    width: 100%;
  }
}
.images_block .arrow_right {
  position: absolute;
  width: 30px;
  bottom: 30px;
  background: url('/images/arrow_right.png') no-repeat 0 0;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  z-index: 2;
}
.images_block .arrow_right:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.news-list .images_block img   {
  width: 100%;
 -moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;
 }


.news-list .images_block:first-child img {
  @media screen and (max-width: 320px) {
    width: 200%;
    left: 25%;
  }
}
.news-list .images_block:not(:first-child):hover img {
 -webkit-transform: scale(1.08);
 -moz-transform: scale(1.08);
 -o-transform: scale(1.08);
}
.news-list .follow {
  position: relative;
  float: left;
  height: 250px;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}
.news-list .follow ul {
  position: absolute;
  top: 50%;
  margin-top: -27px;
  left: 245px;
}
.news-list .follow .btn.bnt_dark {
  position: absolute;
  top: 50%;
  margin-top: -27px;
  right: 10%;
  width: 11%;
}
.news-list .follow p {
  position: absolute;
  font-size: 30px;
  width: 56%;
  top: 50%;
  left: 20%;
  margin-top: -20px;
  font-weight: 500;
}
.follow .btn span {
  position: absolute;
  left: 10px;
  bottom: 5px;
  font-size: 35px;
  font-weight: 100;
  color: #25ffc4;
}
.follow .btn:hover span {
  color: #374851;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}
.follow .btn:hover p {
  display: inline-block;
  border-bottom: 2px solid #25ffc4;
  padding-bottom: 2px;
}
.news-list .bottom-opacity {
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 20%;
  right: 0;
  bottom: 0px;
  z-index: 1;
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 83%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 83%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 83%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
