h1.news_page {
  font-size: 70px;
  margin-left: 245px;
  margin-top: 121px;
  font-weight: 100;
  color: #374851;
  padding-bottom: 30px;
  padding-top: 111px;
}
ul.cathegory {
  margin-left: 240px;

}
ul.cathegory li {
  display: inline;
  list-style-type: none;
  padding-left: 12px;
}
ul.cathegory a {
  text-decoration: none;
  color: black;
  border: 1px solid #d9d9d9;
  border-radius: 30px;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: 100;
}
.opacity {
  position: absolute;
  margin-left: 850px;
  margin-top: 30px;
  width: 100px;
  height: 30px;
  background: white;
  box-shadow: -20px 0 25px rgb(255,255,255);
  opacity: 0.95;
  padding: 10px;
}
.bread_crumbs {
  margin-left: 230px;
  margin-top: 52px;
}
.bread_crumbs li {
  display: inline;
  list-style-type: none;
  font-size: 14px;
  font-weight: 100;
  margin-left: 10px;
  padding-left: 10px;
  letter-spacing: -0.5px;

}
.bread_crumbs a {
  text-decoration: none;
  color:#87949b;
}
.bread_crumbs span {
  color:#87949b;
  margin-left: 10px;
}
.another-cathegory {
  font-size: 17px;
  color:#87949b;
  margin-left: 1066px;
  margin-top: -17px;
}
.block_1st {
  position: relative;
  margin-left: 249px;
  margin-top: 17px;
  width: 773px;
  height: 516px;

}
.block_1st h6 {
  position: absolute;
  font-size: 46px;
  bottom:50px;
  left:40px;
  font-weight: 100;
  color: white;
  line-height: 1.25em;
  letter-spacing: -0.6px;
}
.block_1st .mask{
  position: absolute;
  width: 773px;
  height: 516px;
  -webkit-box-shadow: inset -2px -200px 55px -5px rgba(0,0,0,0.69);
  -moz-box-shadow: inset -2px -200px 55px -5px rgba(0,0,0,0.69);
  box-shadow: inset -2px -200px 55px -5px rgba(0,0,0,0.69);
}
.block_1st .data {
  position: absolute;
  color: #25ffc4;
  font-size: 15px;
  font-weight: 100;
  bottom: 10px;
  left: 44px;
}
.block_2nd {
  position: absolute;
  top: -13px;
  left:2199px;
  width: 773px;
  height: 516px;
  border: 2px solid red;
}
.block_2nd .mask,
.block_3rd .mask {
  position: absolute;
  width: 334px;
  bottom: 60px;
  height: 194px;
  background-color: black;
  opacity: 0.6;
}
.block_2nd h6,
.block_3rd h6 {
  position: absolute;
  font-size: 26px;
  bottom:130px;
  left:28px;
  font-weight: 100;
  color: white;
  width: 280px;
  line-height: 1.3em;
}
.block_2nd .data,
.block_3rd .data {
  position: absolute;
  color: #25ffc4;
  font-size: 11px;
  font-weight: 100;
  bottom: 75px;
  left: 35px;
}
.block_3rd {
  position: absolute;
  top: 883px;
  left:1199px;
  width: 773px;
  height: 516px;
}
.text_page {
  width: 690px;
  margin-left: 295px;
  margin-top: 54px;
  color: #6d7f77;
  line-height: 1.3em;
  padding-bottom: 60px;
}
.text_page p {
  font-size: 17px;
  font-weight: 300;
  padding-bottom: 25px;
}
.text_page ul {
  margin-left: 1px;
  margin-top: 15px;
  font-size: 17px;
  font-weight: 100;
}
.text_page li {
  list-style: none;
  background: url('/images/marker.png') no-repeat 0 15px;
  padding-left: 35px;
  line-height: 2.4em;
}
.text-bold  {
  width: 690px;
  font-weight: 500;
  margin-top: 30px;
  padding-bottom: 33px;
}
.text-bold p {
  font-weight: 500;
}
