.news-container .news-top-menu li.btn.bnt_dark:first-child {
  display: none;
}
.news-container {
  box-sizing: border-box;
  //padding-left: 12px;
  //width: 1180px;
  padding-left: 0;
  width: 1540px;
  margin: 0 auto;

  @media (max-width: 1690px) {
    width: 1110px;
  }

  @media (max-width: 1279px) {
    width: 1013px;
  }
}

.news-container .content {
  //width: 773px;
  width: calc(100% - 31.3%);
  float: left;

  @media (max-width: 1690px) {
    //width: 100%;
    width: calc(100% - 314px);
    .images-block.block_first {width: 100%;}
  }

  @media (max-width: 1380px) {
    //width: 100%;
    width: calc(100% - 314px);
    .images-block.block_first {width: 100%;}
  }

  @media (max-width: 1279px) {
    width: 100%;
    .images-block.block_first {width: 100%;}
    //max-width: 773px;
  }
}




.news-container .images-block  {
  position: relative;
  min-height: 660px;

  @media (max-width: 1690px) {
    min-height: 520px;
  }

  @media (max-width: 1024px) {
    min-height: 500px;
  }

  @media (max-width: 639px) {
    min-height: 340px;
  }

  @media (max-width: 320px) {
    min-height: 372px;
  }

}
.news-detail .cathegory-dropdown {
  display: none;
}
.news-detail .content img {
  width:773;
  height:516;
}
.news-container .sidebar {
  //width: 335px;
  //width: 482px;
  width: 31.3%;
  float: left;
  position: relative;

  @media (max-width: 1690px) {
    width: 314px;
  }

}
.content .images-block {
  margin-top: 20px;
  width: 335px;
}
.content .images-block h6 {
  white-space:normal;
  width: 100%;
  color: white;
  font-weight: 100;
  font-size: 48px;
  line-height: 1.15em;
  letter-spacing: -0.04em;
  z-index: 1;
}
.content .images-block time {
  white-space: normal;
  width: 100%;
  color: #25ffc4;
  font-weight: 100;
  font-size: 14px;
  line-height: 1.15em;
  padding-left: 3px;
  letter-spacing: -0.04em;
  z-index: 1;
}

.news-container .content .images-block.block_first {
  //width: 773px;
  width: 100%;

  @media (max-width: 1024px) {
    width: 100%;
    max-width: 773px;
  }
}

.news-detail .images-block.block_first::before{
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse 200% 100% at 0 100%, rgba(0, 0, 0, 1) 0%, transparent 100%);
  z-index: 1;
}

.content .opacity {
  position: absolute;
  margin-top: 30px;
  width: 100px;
  height: 30px;
  background: white;
  box-shadow: -20px 0 25px rgb(255,255,255);
  opacity: 0.95;
  padding: 10px;
  border: 2px solid red;
  z-index: 1
}
.content .bread_crumbs {
  margin-top: 46px;
  width: 100%;
  box-sizing: border-box;

  @media (max-width: 1024px) {
    display: none;
  }
}
.content .bread_crumbs li {
  display: inline;
  list-style-type: none;
  font-size: 14px;
  font-weight: 100;
  padding-left: 10px;
  letter-spacing: -0.04em;
}
.content .bread_crumbs a {
  text-decoration: none;
  color:#87949b;
}
.content .bread_crumbs span {
  color:#87949b;
  margin-left: 10px;
}
.content .text_page {
  box-sizing: border-box;
  width: 100%;
  color: #6d7f77;
  line-height: 1.3em;
  padding-bottom: 70px;
  margin-top: -2px;
  padding-left: 44px;
  padding-right: 44px;

  @media (max-width: 1024px) {
    padding-left: 30px; padding-right: 30px;
  }

  @media (max-width: 1024px) {
    padding-bottom: 0;
    width: 100%;
  }
}
.content .text_page p {
  font-size: 17px;
  font-weight: 300;
  padding-bottom: 22px;
  letter-spacing: -0.04em;
}
.content .text_page ul {
  margin-top: 20px;
  font-size: 17px;
  font-weight: 100;
}
.content .text_page li {
  list-style: none;
  background: url('../images/marker.png') no-repeat 0 15px;
  padding-left: 35px;
  line-height: 2.4em;
}
.text-bold  {
  width: 100%;
  font-weight: 500;
  margin-top: 30px;
  padding-bottom: 33px;
}
.text-bold p {
  font-weight: 500;
}
.sidebar .images-block {
  //width: 335px;
}
.sidebar .images-block h6 {
  width: 100%;
  color: white;
  font-weight: 100;
  font-size: 29px;
  line-height: 1.15em;
  z-index: 15;
  text-overflow: ellipsis;

  @media (max-width: 1690px) {
    font-size: 22px
  }

}
.sidebar .images-block time {
  white-space:normal;
  width: 100%;
  color: #25ffc4;
  font-weight: 100;
  font-size: 12px;
  line-height: 1.15em;
  z-index: 15;
  text-overflow: ellipsis;
}

.news-detail h1.news_page {
  font-size: 70px;
  margin-top: 11px;
  font-weight: 100;
  color: #374851;
  padding-bottom: 20px;
  padding-top: 15px;

  @media (max-width: 1024px) {
    margin-top: 0;
    padding-top: 50px;
  }
}

@media (max-width: 1690px) {
  .news-detail .container {
    position: relative;
  }

}
@media (max-width: 1440px) {

  .news-detail .news_page {
    width: 170px;
  }
  .news-detail .news-top-menu {
    box-sizing: border-box;
    width: 100%;
  }
  .news-detail .container {
    position: relative;
    width: 1200px;
  }
}
@media (max-width: 1380px) {
  .news-container {
    position: relative;
    width: 1110px;
  }
}
@media (max-width: 1024px) {
  .news-detail .news_page {
    width: 170px;
  }
  .news-detail .news-top-menu {
    width: 800px;
  }
  .news-container {
    position: relative;
    padding-left: 0;
    max-width: 600px;
  }

  .news-detail .sidebar {
    width: 800px;
    margin-bottom: 0px;
  }

  .another-cathegory {
    margin-top: 10px;
    margin-bottom: 22px;
  }
}
@media (max-width: 640px) {
  .news-container {
    width: 100%;
  }
  .news-detail .news-top-menu {
    width: 620px;
    margin-left: 20px;
  }


  .news-detail .content {
    width: 100%;
  }
  .content .bread_crumbs {
    width: 95%;
    margin-left: 20px;
  }
  .news-detail .content .bread_crumbs a  {
    font-size: 12px;
  }
  .news-detail .content .images-block.block_first {
    width: 100%;
  }
  .news-detail .content img {
    height: 100%;
  }
  .news-detail .content .shadow-mask {
    height: 100%;
  }
  .news-detail .content .images-block h6 {
    font-size: 34px;
    letter-spacing: -0.04em;
  }
  .news-detail .content .images-block time {
    font-size: 12px;
    letter-spacing: -0.04em;
  }
  .news-detail .content .text_page {
    paddig-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
  }
  .news-detail .content .text-bold {
    margin-top: 32px;
    padding-bottom: 0;
    width: 90%;
    margin-left: 0px;
  }
  .news-detail .sidebar {
    width: 100%;
    right: 0px;
  }

  .news-detail .content .text_page ul {
    margin-top: 10px;
    font-size: 13px;
  }
  .news-detail .content .text_page li {
    padding-top: 0px;
    line-height: 1.45em;
    padding-left: 24px;
    margin-bottom: 14px;
    background-position: 0 5px;
    background-size: 10px;
    letter-spacing: -0.04em;
  }

  .content .images-block .shadow-mask {
    width: 100%;
  }
  .news-detail .sidebar .images-block {
    margin-left: 0px;
    width: 320px;
  }
  .news-detail .sidebar .images-block h6 {
    margin-left: 0px;
    font-size: 20px;
    letter-spacing: -0.04em;
    width: 100%;
  }
  .news-detail .sidebar p {
    width: 100%;
    left: 0px;
  }
  .news-detail .sidebar img {
    width: 320px;
    height: 100%;
  }
}

@media (max-width: 320px) {


  .news-detail .container {
    left: 0px;
    max-width: 320px;
  }
.news-detail h1.news_page {
  font-size: 35px;
  margin-left: -2px;
  letter-spacing: -0.04em;
  padding-bottom: 13px;
}

  .news-detail .news-top-menu {
    width: 320px;

    height: 200px;
    padding-left: 10px;
    //margin-bottom: 15px;

    @media (max-width: 1024px) {
      height: auto;
    }

  }
  .images-block.block_first {
    margin-top: 10px;
    height: 260px;
  }
  .news-detail .content .images-block h6 {
    font-size: 29px;
    letter-spacing: -0.04em;
  }
  .news-detail .content img {
    width: 380px;
  }
  .news-detail .content .images-block time {
    font-size: 9px;
    letter-spacing: -0.04em;
  }

  .news-detail .content {
    margin: 0;
    width: 320px;
  }

  .news-detail .content .text_page {
    margin: 8px 0;
    margin-top: 30px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .news-detail .content .text_page p {
    font-size: 14px;
    line-height: 1.45em;
    padding-bottom: 20px;
  }

 .news-detail .content .text-bold {
   font-size: 14px;
   width: 250px;
 }
  .news-detail img {
    width: 320px;
  }
  .news-detail .sidebar img {
    height: 390px;
  }
  .news-detail .sidebar .images-block h6 {
    font-size: 17px;
    letter-spacing: -0.04em;
  }
  .news-detail .sidebar .images-block time {
    font-size: 9px;
    letter-spacing: -0.04em;
  }
  .news-detail .sidebar p {
    font-size: 15px;
    letter-spacing: -0.04em;
    }
}

@media (max-width: 639px) {
  .news-container {
    padding-left: 0;
    width: 320px;
  }
}

@media (max-width: 320px) {
  .news-container {
    padding-left: 0;
    margin: 0;
    width: 320px;
  }
}

.news-wrapper {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  @media (max-width: 1279px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.another-cathegory {
  box-sizing: border-box;
  margin-top: 46px;
  width: 100%;
  margin-bottom: 16px;
  letter-spacing: -0.04em;

  @media (max-width: 1279px) {
    width: 100%;
  }

  @media (max-width: 1024px) {
    padding: 0 5%;
  }

  @media (max-width: 320px) {
    padding: 0 30px;
  }

  p {
    font-size: 17px;
    color:#87949b;
    width: 230px;
    text-align: left;
  }
}

.news-aside {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  margin-left: 44px;

  @media (max-width: 1279px) {
    margin-left: 0;
    width: 100% !important;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
  }

  @media (max-width: 1024px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 0 !important;
  }
}

.news-post {
  margin-bottom: 36px;

  @media (max-width: 1279px) {
    margin-right: 40px;
  }

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: 760px) {
    margin-right: 0;
  }
}

.news-aside {
  @media (max-width: 1280px) {
    margin-right: -40px;
  }
}


.news-wrapper .content .text_page {
  @media (max-width:1280px) {
    padding-bottom: 0;
  }

  @media (max-width: 640px) {
    padding-left: 5%; padding-right: 5%;
  }
}

.images-block_news .images-block__describe {
  @media (max-width: 1024px) {
    min-height:0;
    time {margin-top:30px}
  }
}

@media (max-width:1024px) {
  .news-detail h1.news_page {padding-top: 30px; font-size:35px;}
}

@media (max-width:1280px) {
  .news-detail h1.news_page {padding-top:50px}
}
