.note {
  font-family: $mainFontFamily;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;

  @media (max-width: 639px) {
    padding: 0 10%;
  }

  &__text {
    width: 50%;
    text-align: right;
    font-size: $textSizeBig;
    letter-spacing: -0.04em;
    font-weight: 100;
    line-height: 1.2em;
    color: $mainFontColorDark;

    @media (max-width: 1279px) {
      width: 70%;
    }

    @media (max-width: 1024px) {
      width: 100%;
      text-align: left;
    }

    @media (max-width: 639px) {
      font-size: $textSizeMobile;
    }
  }

  &__star {
    margin-right: 14px;
    text-align: right;
    font-size: $noteStarSize;
    font-weight: 100;
    letter-spacing: -0.04em;
    line-height: inherit;
    color: $additionalColorGreen;
    vertical-align: middle;

    @media (max-width: 1024px) {
      text-align: left;
    }

    @media (max-width: 639px) {
      letter-spacing: -0.04em;
      margin-right: 0;
      font-size: $textSizeBig;
    }
  }
}
