.note {
  font-family: $mainFontFamily;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;

  @media #{$mobile} {
    padding: 0 10%;
  }

  &__text {
    @include letter-spacing($textSizeBig);

    width: 50%;
    text-align: right;
    font-size: $textSizeBig;
    font-weight: 100;
    line-height: 1.2em;
    color: $mainFontColorDark;

    @media #{$tablet2} {
      width: 70%;
    }

    @media #{$tablet} {
      width: 100%;
      text-align: left;
    }

    @media #{$mobile} {
      font-size: $textSizeMobile;
    }
  }

  &__star {
    @include letter-spacing($noteStarSize);

    margin-right: 14px;
    text-align: right;
    font-size: $noteStarSize;
    font-weight: 100;
    line-height: inherit;
    color: $additionalColorGreen;
    vertical-align: middle;

    @media #{$tablet} {
      text-align: left;
    }

    @media #{$mobile} {
      @include letter-spacing($textSizeBig);

      margin-right: 0;
      font-size: $textSizeBig;
    }
  }
}
