.page-section {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;

  &__container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 10px;

    @media #{$tablet2} {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }

  &_centered {
    .page-section__container {
      justify-content: center;
    }
  }

  &_start {
    .page-section__container {
      justify-content: flex-start;
    }
  }

  &_end {
    .page-section__container {
      justify-content: flex-end;

      @media #{$tablet2} {
        justify-content: flex-start;
      }
    }
  }

  &__bg-img {
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      width: 0;
      margin: auto;
      object-fit: cover;
    }
  }
}
