.page-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $bgMenuColor;
  background-image: $mainGradient;
  background-repeat: no-repeat;

  &__wrapper {
    position: relative;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    padding-left: 150px;

    @media #{$tablet2} {
      padding-left: 0;
      align-items: center;
      padding: 7px 5%;
    }
  }

  &__logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 150px;
    height: 116px;
    background-color: $bgMenuColor;

    @media #{$tablet2} {
      position: relative;
      order: 2;
      background-color: transparent;
    }
  }
}
