.page-footer {
  background-color: $bgFooterMenuColor;

  @media (max-width: 1024px) {
    background-color: #fff;
  }

  &__container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 514px;
    padding-top: 65px;
    padding-left: 45px;
    padding-right: 4px;
    padding-bottom: 52px;

    @media (max-width: 1690px) {
      padding-left: 4px;
    }

    @media (max-width: 1380px) {
      padding-left: 4px;
    }

    @media (max-width: 1279px) {
      justify-content: space-between;
      flex-wrap: wrap;
      align-content: flex-start;
    }

    @media (max-width: 1024px) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }

    @media (max-width: 1024px) {
      padding-top: 14px;
      padding-bottom: 16px;
    }

    @media (max-width: 1024px) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__logo {
    margin-right: 93px;

    @media (max-width: 1279px) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 28px;
    }

    @media (max-width: 1024px) {
      width: auto;
      margin: 0;
      align-self: center;
    }

    @media (max-width: 1024px) {
      margin-bottom: 28px;
    }
  }

  &__menu {
    flex: 1;
    margin-right: 100px;

    @media (max-width: 1380px) {
      margin-right: 50px;
    }

    @media (max-width: 1279px) {
      width: 50%;
      margin-bottom: 40px;
    }

    @media (max-width: 1024px) {
      width: auto;
      margin-right: 0;
    }

    &_info {

      @media (max-width: 1024px) {
        margin-bottom: 60px;
      }
    }

    &_employer {

      @media (max-width: 1024px) {
        margin-bottom: 40px;
      }
    }

    &_hero {
      @media (max-width: 1024px) {
        margin-bottom: 58px;
      }
    }

    &_social {
      max-width: 320px;
      width: 320px;
      min-width: 320px;
      margin-left: auto;
      margin-right: 0;

      @media (max-width: 1279px) {
        margin-left: 0;
        margin-right: 0;
      }

      @media (max-width: 1024px) {
        margin-left: 0;
      }

    }
  }
}
