.pricing {
  margin-bottom: 122px;

  @media #{$desktop} {
    margin-bottom: 60px;
  }

  @media #{$tablet} {
    margin-bottom: 40px;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;
    padding: 0 48px;
    margin-top: -160px;
    overflow: visible;

    @media #{$desktop} {
      flex-direction: row !important;
      justify-content: space-between !important;
    }

    @media #{$tablet} {
      flex-direction: column;
      align-items: center;
      padding: 0;
      margin-top: 0;
    }

    @media #{$mobile} {
      width: 100%;
      margin: 0;
    }
  }

  &__table {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 42px;
    width: 48%;
    background-color: $bgColor;
    box-shadow: 0 1px 5px 0 rgba($pricingTableShadow, 0.35);

    @media #{$tablet} {
      margin-bottom: 2px;
      width: 100%;
    }

    &_special {
      @media #{$tablet} {
        margin-bottom: 18px;
      }

      & .pricing__header h3 {
        color: $additionalColorGreen;
      }
    }

    .versus-table__right-section & {
      width: 100%;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__header {
    box-sizing: border-box;
    padding: 24px 40px 0;
    width: 100%;

    @media #{$mobile} {
      padding: 36px 9% 0;
    }

    h3 {
      box-sizing: border-box;
      width: 100%;
      font-weight: 700;
      text-align: left;
      color: $mainFontColorDark;

      @media #{$tablet} {
        font-size: $pricingHeaderTextMobile;
        letter-spacing: -0.04em;
      }
    }
  }

  &__body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-left: 40px;
    padding-right: 36px;
    padding-bottom: 42px;

    @media #{$mobile} {
      padding-left: 9%;
      padding-right: 9%;
      padding-bottom: 30px;
    }

    .pricing__table_special & {
      padding-right: 46px;

      @media #{$mobile} {
        padding-right: 10%;
        padding-bottom: 34px;
      }
    }
  }

  &__row {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
    width: 100%;
  }

  &__cell {
    box-sizing: border-box;
    padding-top: 32px;
    width: 33%;
    min-height: 70px;
    font-family: $mainFontFamily;
    font-size: $textSize;
    letter-spacing: -0.04em;
    font-weight: 300;
    color: $mainFontColorDark;

    @media #{$mobile} {
      font-size: $textSizeMobile;
      padding-top: 20px;
      min-height: 25px;
    }

    &_service {
      text-align: left;
    }

    &_price {
      text-align: center;
      font-size: $textSizeBig;
      font-weight: 300;

      .pricing__table_regular & {
        @media #{$tablet} {
          text-align: right;
        }
      }
    }

    &_crossed {
      color: $pricingCrossedText;
      font-weight: 300;

      b {
        position: relative;
        color: inherit;
        font-weight: inherit;
      }

      b::before {
        position: absolute;
        content: '';
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $additionalColorGreen;
        transform: translate(0, -50%);
      }
    }

    &_link {
      padding-top: 20px;
      padding-left: 5%;
      text-align: right;

      @media #{$desktop2} {
        padding-left: 0;
      }

      @media #{$mobile} {
        padding-top: 8px;
      }
    }
  }

  &__footer {
    box-sizing: border-box;
    padding: 26px 42px;
    width: 100%;
    font-family: $mainFontFamily;
    font-size: $textSize;
    letter-spacing: -0.04em;
    line-height: (45/22)*1em;
    font-weight: 700;
    color: $mainFontColorLight;
    background-color: $bgMenuColor;
    background-image: $mainGradient;
    background-repeat: no-repeat;
    background-position: 0 0;

    @media #{$mobile} {
      padding: 12px 9%;
      font-size: $textSizeMobileBig;
    }

    p {
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      font-weight: inherit;
      color: inherit;
      letter-spacing: inherit;
    }

    .versus-table__right-section & {
      font-size: $textSizeMobileBig;
      line-height: (16/15)*1em;
      font-weight: 300;
      padding: 22px 42px;

      @media #{$mobile} {
        padding: 22px 14px;
      }

      p {
        width: 65%;

        @media #{$desktop2} {
          width: 100%;
        }
      }
    }
  }

  &__btn {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;

    @media #{$mobile} {
      padding: 9px 10px;
      font-size: $textSizeTiny;
    }
  }
}
