.resume-examples {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 123px;
    padding-bottom: 0;

    @media #{$mobile} {
      padding-top: 72px;
    }
  }

  &__text {
    padding-right: 86px;
    margin-bottom: 40px;

    @media #{$desktop} {
      padding-right: 0;
    }

    @media #{$tablet} {
      margin-bottom: 20px;
    }

    @media #{$mobile} {
      margin-bottom: 0px;
    }
  }

  &__images {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 16px;
    padding-left: 134px;
    padding-right: 186px;
    width: 100%;
    height: 1525px;
    overflow: hidden;

    @media #{$desktop} {
      padding-left: 60px;
      padding-right: 60px;
    }

    @media #{$tablet2} {
      padding-left: 25px;
      padding-right: 25px;
    }

    @media #{$tablet} {
      padding-left: 15px;
      padding-right: 15px;
      height: 572px;
    }

    @media #{$mobile} {
      padding-top: 8px;
      padding-left: 7px;
      padding-right: 10px;
      height: 286px;
    }

    /*&::before {
      position: absolute;
      content: '';
      left: 0;
      bottom: 0;
      width: 100%;
      height: 600px;
      background-image: linear-gradient(to top, $bgColor 0, $bgColor 10%, transparent 100%);
      background-repeat: no-repeat;
      background-position: 0 0;
      z-index: 5;
    }*/
  }

  &__img {
    position: relative;
    width: 31.8%;
    height: 100%;
    overflow: hidden;
    border: 1px solid $bgColor;
    box-shadow: 1px 1px 10px 3px rgba($resumeShadowColor, 0.36);

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
      min-width: 100%;
      min-height: 100%;
      width: 0;
      object-fit: cover;
    }

    &:first-child,
    &:last-child {
      margin-top: 58px;

      @media #{$tablet2} {
        margin-top: 38px;
      }

      @media #{$tablet} {
        margin-top: 28px;
      }

      @media #{$mobile} {
        margin-top: 14px;
      }
    }
  }
}
