.page-security {
  width: 100%;
  background: $bgFooterMenuColor;

  @media (max-width: 1279px) {
    padding: 0 14px;
  }

  @media (max-width: 1024px) {
    padding: 0;
  }

  &__container {
    display: flex;
    flex-direction: row;

    @media (max-width: 1024px) {
      //flex-direction: column;
    }
  }

  &__img {
    height: auto;
    display: flex;
    align-items: flex-end;
    width: auto;
    //flex-basis: 100%;

    @media (max-width: 1279px) {
      padding: 0 14px;
    }

    @media (max-width: 1024px) {
      justify-content: center;
      padding: 0;
      flex-basis: 100%;
      //position: relative;
      //width: 277px;
    }

    @media (max-width: 639px) {
      margin-left: -70px;
      flex-basis: 100%;
    }

    img {
      width: 277px;
      margin-top: -6px;

      @media (max-width: 1024px) {
        //position: absolute;
        //bottom: 0;
      }

      @media (max-width: 639px) {
        width: inherit;
        height: 180px;
      }
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 25px 30px 25px 0;

    @media (max-width: 1279px) {
      padding: 25px 0;
    }
  }

  .description {
    &__title {
      font-size: 25px;
      font-weight: 500;
      font-family: $mainFontFamily;
      color: $securityTitle;
      line-height: 1.2;
      margin-bottom: 15px;
      max-width: 1200px;

      @media (max-width: 1279px) {
        max-width: 100%;
      }

      @media (max-width: 1024px) {
        max-width: inherit;
        margin-left: -277px;
        margin-bottom: 27px;
        padding: 40px 10px 0;
      }

      @media (max-width: 639px) {
        margin-left: -175px;
      }
    }
  }

  .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 1279px) {
      flex-direction: column;
    }

    @media (max-width: 639px) {
      margin-left: -30px;
    }

    &__text {
      font-size: 20px;
      font-family: $mainFontFamily;
      color: $securityText;
      line-height: 1.2;
      letter-spacing: -.04em;
      max-width: 850px;

      @media (max-width: 1279px) {
        max-width: 100%;
      }

      @media (max-width: 1024px) {
        max-width: inherit;
        width: inherit;
        margin-left: -277px;
        padding: 0 10px;
        margin-bottom: 35px;
      }

      @media (max-width: 639px) {
        margin-left: -145px;
      }
    }

    &__img {
      height: 45px;
      margin: 0 10px;

      &:last-child {
        margin-right: 0;
      }

      @media (max-width: 1279px) {
        margin: 15px 0;

        &:last-child {
          margin-bottom: 0;

          @media (max-width: 639px) {
            justify-content: center;
          }

          img {
            width: 85px;
          }
        }
      }

      @media (max-width: 639px) {
        height: inherit;
        width: 130px;
        display: flex;
        align-items: baseline;
        justify-content: flex-end;

        img {
          width: 110px;
        }
      }
    }
  }
}
