.social {
  box-sizing: border-box;
  width: 49px;
  height: 49px;
  border: 3px solid $additionalColorGreen;
  border-radius: 50%;
  background-color: transparent;

  &__link {
    position: relative;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0;
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: $bgSocialColor;

    &_facebook {
      width: 14px;
      height: 27px;
    }

    &_twitter {
      width: 29px;
      height: 23px;
    }

    &_instagram {
      width: 23px;
      height: 23px;
      fill: transparent;
      stroke: $bgSocialColor;
    }

    &_youtube {
      width: 25px;
      height: 18px;
    }
  }
}
