.socials {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  margin-top: 23px;
  margin-bottom: 23px;

  @media #{$desktop2} {
    min-width: 320px;
  }

  @media #{$tablet2} {
    min-width: 0px;
  }

  @media #{$tablet} {
    margin-top: 16px;
  }

  &__item {
    margin-right: 33px;

    @media #{$tablet} {
      margin-right: 25px;
    }

    a {
      font-size: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
