.switch {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  border: 1px solid $formBorderColor;
  padding: 5px;

  @media #{$mobile} {
    padding: 3px;
  }

  &__item {
    box-sizing: border-box;
    padding: 7px 20px;
    width: 49%;
    border-radius: 20px;
    text-align: center;

    &.checked {
      background-color: $bgColor;

      & .switch__label {
        color: $formSwitchFontColorDark;
        border-bottom: none;
      }
    }
  }

  &__label {
    @include letter-spacing($formTextSize);

    box-sizing: border-box;
    font-size: $formTextSize;
    font-weight: 500;
    text-align: center;
    color: $mainFontColorLight;
    border-bottom: 1px solid $formBorderFocus;
    transition: all 0.25s ease-in-out;

    @media #{$mobile} {
      @include letter-spacing($textSizeMobile);

      font-size: $textSizeMobile;
    }

    &:hover {
      color: $additionalColorGreen;
    }
  }
}
