.tech-info {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;

  @media (max-width: 400px) {
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }

  p {
    @media (max-width: 1120px) {
      font-size: 18px;
    }

    @media (max-width: 920px) {
      font-size: 14px;
    }
  }
}
