.text-block {
  box-sizing: border-box;

  &_start {
    text-align: left;

    & .text-block__title_mainpage {
      padding-right: 60px;

      @media #{$desktop2} {
        padding-right: 0;
      }
    }
  }

  &_centered {
    text-align: center;

    & .text-block__title_mainpage {
      margin-bottom: 40px;

      @media #{$tablet} {
        margin-bottom: 32px;
      }

      @media #{$mobile} {
        margin-bottom: 16px;
      }
    }
  }

  &_end {
    text-align: right;

    & .text-block__title_mainpage {
      padding-right: 50px;

      @media #{$desktop2} {
        padding-right: 0;
      }
    }
  }

  &_light {
    color: $mainFontColorLight;
  }

  &_dark {
    color: $mainFontColorDark;
  }

  &__title {
    margin-bottom: 50px;

    @media #{$mobile} {
      margin-bottom: 22px;
    }

    i {
      color: $additionalColorGreen;
      font-style: normal;
    }

    &_mainpage {
      margin-bottom: 70px;
      font-size: $titleSizeH1;
      letter-spacing: -0.04em;

      @media #{$mobile} {
        margin-bottom: 35px;
        font-size: $titleSizeH1/2;
        letter-spacing: -0.04em;
      }
    }

    &_h2big {
      font-size: $titleSizeH2_big;
      letter-spacing: -0.04em;
      margin-bottom: 24px;

      @media #{$mobile} {
        font-size: $titleSizeH2_big/2;
      }
    }

    &_medium {
      font-weight: 500;
    }
  }

  &__content {
    letter-spacing: -0.04em;
    font-size: $textSize;
    line-height: 1.2em;
    box-sizing: border-box;
    width: 100%;

    @media #{$mobile} {
      font-size: $textSizeMobileBig;
      line-height: 1.4em;
    }

    &_small {
      font-size: $textSizeSmall;
    }

    &_big {
      font-size: $textSizeBig;

      @media #{$mobile} {
        font-size: $textSizeMobile;
        line-height: 1.5em;
      }
    }

    &_huge {
      font-size: $textSizeHuge;

      @media #{$mobile} {
        font-size: ($textSizeHuge)/2;
      }
    }

    &_huger {
      font-size: $textSizeHuger;
      line-height: 1.2em;

      @media #{$mobile} {
        font-size: ($textSizeHuger)/2;
      }
    }

    &_gigantic {
      font-size: $textSizeGigantic;
      line-height: 1.2em;

      @media #{$mobile} {
        font-size: $textSize;
      }

      p {
        padding: 0;
      }
    }

    &_16em {
      line-height: 1.64em;
    }

    p {
      box-sizing: border-box;
      width: 100%;
      margin-bottom: 34px;
      padding: 0 5px;
      font-size: inherit;
      line-height: inherit;
      letter-spacing: inherit;
      color: inherit;

      @media #{$tablet} {
        padding: 0;
      }
    }
  }

  &__list {

    &_disk {
      li {
        position: relative;
        padding-left: 44px;
      }

      li::before {
        position: absolute;
        top: 0;
        left: 0;
        content: '\2022';
        display: inline;
        line-height: inherit;
      }
    }

    &_dash {
      li {
        position: relative;
        padding-left: 44px;
      }

      li::before {
        position: absolute;
        top: 0;
        left: 0;
        display: inline;
        content: '\2013';
        line-height: inherit;
      }
    }
  }

  &__item {
    font-size: inherit;
    letter-spacing: inherit;
    font-weight: 100;
    line-height: inherit;
    color: inherit;

    &_medium {
      font-weight: 500;
    }
  }

  &__link {
    font-size: inherit;
    color: inherit;
    line-height: inherit;
    font-weight: 500;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 2px solid $additionalColorGreen;
    transition: all 0.25s ease-in-out;

    &:hover {
      color: $linkHoverColor;
    }
  }

  &__slogan {
    letter-spacing: -0.04em;

    &_big {
      font-size: $textSizeSlogan;
      line-height: 1.2em;

      @media #{$mobile} {
        font-size: $textSizeSlogan/2;
      }
    }

    &_bold {
      font-weight: 700;

      p {
        font-weight: inherit;
      }
    }
  }

  &__img {
    &_left {
      float: left;
      margin-right: 30px;
      margin-bottom: 30px;

      @media #{$tablet} {
        float: none;
      }
    }
  }
}
