.text-block {
  box-sizing: border-box;

  &_start {
    text-align: left;

    & .text-block__title_mainpage {
      padding-right: 50px;

      @media #{$desktop2} {
        padding-right: 0;
      }
    }
  }

  &_centered {
    text-align: center;

    & .text-block__title_mainpage {
      margin-bottom: 40px;

      @media #{$tablet} {
        margin-bottom: 32px;
      }

      @media #{$mobile} {
        margin-bottom: 16px;
      }
    }
  }

  &_end {
    text-align: right;

    & .text-block__title_mainpage {
      padding-right: 50px;

      @media #{$desktop2} {
        padding-right: 0;
      }
    }
  }

  &_light {
    color: $mainFontColorLight;
  }

  &_dark {
    color: $mainFontColorDark;
  }

  &__title {
    margin-bottom: 50px;

    i {
      color: $additionalColorGreen;
      font-style: normal;
    }

    &_mainpage {
      margin-bottom: 70px;
      font-size: $titleSizeH1;

      @media #{$mobile} {
        margin-bottom: 35px;
        font-size: $titleSizeH1/2;
      }
    }
  }

  &__content {
    font-size: $textSize;
    line-height: 1.2em;

    &_small {
      font-size: $textSizeSmall;
    }

    &_big {
      font-size: $textSizeBig;
    }

    &_huge {
      @include letter-spacing($textSizeHuge);

      font-size: $textSizeHuge;

      @media #{$mobile} {
        @include letter-spacing(($textSizeHuge/2));

        font-size: ($textSizeHuge)/2;
      }
    }

    &_huger {
      @include letter-spacing($textSizeHuger);

      font-size: $textSizeHuger;
      line-height: 1.2em;

      @media #{$mobile} {
        @include letter-spacing(($textSizeHuger/2));

        font-size: ($textSizeHuger)/2;
      }
    }

    &_gigantic {
      @include letter-spacing($textSizeGigantic);

      font-size: $textSizeGigantic;
      line-height: 1.2em;

      @media #{$mobile} {
        @include letter-spacing($textSize);

        font-size: $textSize;
      }

      p {
        padding: 0;
      }
    }

    p {
      box-sizing: border-box;
      width: 100%;
      margin-bottom: 34px;
      padding: 0 5px;
      font-size: inherit;
      line-height: inherit;
      letter-spacing: inherit;
      color: inherit;

      @media #{$tablet} {
        padding: 0;
      }
    }
  }

  &__item {
    font-size: inherit;
    letter-spacing: inherit;
    font-weight: 100;
    line-height: inherit;
    color: inherit;
  }

  &__link {
    font-size: inherit;
    color: inherit;
    line-height: inherit;
    font-weight: 500;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 2px solid $additionalColorGreen;
    transition: all 0.25s ease-in-out;

    &:hover {
      color: $linkHoverColor;
    }
  }

  &__slogan {

    &_big {
      @include letter-spacing($textSizeSlogan);

      font-size: $textSizeSlogan;
      line-height: 1.2em;
    }

    &_bold {
      font-weight: 700;

      p {
        font-weight: inherit;
      }
    }
  }
}
