.text-block {
  box-sizing: border-box;

  &_start {
    text-align: left;

    & .text-block__title_mainpage {
      margin-bottom: 70px;
      padding-right: 50px;
    }
  }

  &_centered {
    text-align: center;

    & .text-block__title_mainpage {
      padding-left: 48px;
      padding-right: 0;
      margin-bottom: 40px;
    }
  }

  &_end {
    text-align: right;

    & .text-block__title_mainpage {
      margin-bottom: 70px;
      padding-right: 50px;
    }
  }

  &_light {
    color: $mainFontColorLight;
  }

  &_dark {
    color: $mainFontColorDark;
  }

  &__title {
    i {
      color: $additionalColorGreen;
      font-style: normal;
    }

    &_mainpage {
      font-size: $titleSizeH1;
    }
  }

  &__content {
    font-size: $textSize;
    line-height: 1.2em;

    &_small {
      font-size: $textSizeSmall;
    }

    &_big {
      font-size: $textSizeBig;
    }

    &_huge {
      @include letter-spacing($textSizeHuge, -40);

      font-size: $textSizeHuge;
    }

    &_huger {
      @include letter-spacing($textSizeHuger, -40);

      font-size: $textSizeHuger;
      line-height: 1.2em;
    }

    p {
      margin-bottom: 34px;
      padding: 0 5px;
      font-size: inherit;
      line-height: inherit;
      letter-spacing: inherit;
      color: inherit;
    }
  }

  &__item {
    font-size: inherit;
    letter-spacing: inherit;
    font-weight: 100;
    line-height: inherit;
    color: inherit;
  }

  &__link {
    font-size: inherit;
    color: inherit;
    line-height: inherit;
    font-weight: 500;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 2px solid $additionalColorGreen;
    transition: all 0.25s ease-in-out;

    &:hover {
      color: $linkHoverColor;
    }
  }
}
