.tour-working {

  @media #{$tablet} {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &__container {
    padding-top: 284px;
    padding-bottom: 354px;

    @media #{$tablet2} {
      padding-top: 150px;
      padding-bottom: 180px;
      flex-direction: row;
    }

    @media #{$tablet} {
      order: 1;
      flex-direction: column;
      padding-top: 168px;
      padding-bottom: 40px;
    }

    @media #{$mobile} {
      padding-top: 84px;
      padding-bottom: 20px;
    }
  }

  &__text {
    width: 45%;
    padding-left: 10.6%;
    padding-right: 40px;

    @media #{$desktop2} {
      padding-left: 5%;
      padding-right: 5%;
    }

    @media #{$tablet2} {
      margin-left: 55%;
    }

    @media #{$tablet} {
      width: 100%;
      margin-left: 0;
      padding-left: 32px;
      padding-right: 76px;
    }

    @media #{$mobile} {
      padding-left: 16px;
      padding-right: 38px;
    }

    & .text-block__content {
      padding-right: 120px;

      @media #{$desktop2} {
        padding-right: 0;
      }

      p {
        @media #{$mobile} {
          margin-bottom: 15px;
        }
      }
    }
  }

  &__img {
    position: relative;
    box-sizing: border-box;
    position: absolute;
    top: calc(50% - 40px);
    left: 0;
    width: 55%;
    margin-right: 45%;
    height: 67%;
    transform: translate(0, -50%);
    overflow: hidden;

    @media #{$tablet2} {
      top: 50%;
    }

    @media #{$tablet} {
      position: relative;
      top: auto;
      left: auto;
      transform: none;
      order: 2;
      width: 100%;
      max-width: 640px;
      margin: 0 auto;
      height: auto;
      margin-top: -36px;
    }

    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      min-width: 100%;
      min-height: 100%;
      width: 0;
      object-fit: cover;

      @media #{$tablet} {
        position: relative;
      }
    }
  }
}
