.tour-represent {
  &__container {
    padding-top: 160px;
    padding-bottom: 160px;

    @media #{$tablet2} {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    @media #{$tablet} {
      padding-top: 272px;
      padding-bottom: 200px;
    }

    @media #{$mobile} {
      padding-top: 136px;
      padding-bottom: 98px;
    }
  }

  &__text {
    width: 50%;
    padding-left: 138px;
    padding-right: 180px;

    @media #{$desktop} {
      padding-left: 60px;
      padding-right: 90px;
    }

    @media #{$tablet2} {
      align-self: flex-end;
    }

    @media #{$tablet} {
      width: 100%;
      align-self: flex-start;
      padding-left: 32;
      padding-right: 180px;
    }

    @media #{$mobile} {
      padding-left: 16px;
      padding-right: 90px;
    }

    & .text-block__title {
      @media #{$tablet} {
        margin-bottom: 28px;
      }

      @media #{$mobile} {
        margin-bottom: 14px;
      }
    }
  }
}
