.tour-search {
  position: relative;

  &__container {
    padding-top: 252px;
    padding-bottom: 448px;

    @media (max-width: 1690px) {
      padding-top: 150px;
      padding-bottom: 282px;
    }

    @media (max-width: 1024px) {
      padding-bottom: 40px;
      padding-top: 136px;
    }

    @media (max-width: 639px) {
      padding-top: 68px;
    }
  }

  &__text {
    width: 48%;
    padding-left: 128px;
    padding-right: 52px;

    @media (max-width: 1690px) {
      padding-left: 78px;
      padding-right: 10px;
    }

    @media (max-width: 1380px) {
      padding-left: 60px;
      padding-right: 0;
    }

    @media (max-width: 1279px) {
      align-self: flex-end;
    }

    @media (max-width: 1024px) {
      align-self: flex-start;
      width: 100%;
      padding-left: 28px;
      padding-right: 80px;
    }

    @media (max-width: 639px) {
      padding-left: 14px;
      padding-right: 40px;
    }

    p {
      @media (max-width: 1024px) {
        padding-left: 4px;
      }

      @media (max-width: 639px) {
        margin-bottom: 15px;
        padding-left: 2px;
      }
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 49%;
    margin-right: 51%;
    height: auto;

    @media (max-width: 1024px) {
      position: relative;
      width: 90%;
      margin-right: 10%;
    }

    @media (max-width: 639px) {
      width: 95%;
      margin-right: 5%;
    }

    &::before {
      position: absolute;
      content: '';
      top: calc(100% + 40px);
      left: 50%;
      transform: translate(-50%, 0);
      width: 40%;
      height: 2px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, .5);
      filter: blur(5px);

      @media (max-width: 1024px) {
        width: 50%;
        top: calc(100% + 10px);
        height: 1px;
        filter: blur(2px);
      }
    }

    img, video {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: auto;
    }
  }

  &_employer {

    .tour-search__container {
      padding-top: 330px;
      padding-bottom: 520px;

      @media (max-width: 1690px) {
        padding-top: 260px;
        padding-bottom: 320px;
      }

      @media (max-width: 1024px) {
        padding-top: 144px;
        padding-bottom: 40px;
      }

      @media (max-width: 639px) {
        padding-top: 68px;
      }
    }

    .tour-search__bg {
      left: 55px;
      height: 85%;

      &::before {
        content: none;
      }

      img {
        height: 100%;
        object-fit: contain;
        font-family: 'object-fit: contain;';
      }

      @media (max-width: 1024px) {
        left: 0;
      }
    }

    .tour-search__text {
      @media (min-width: 1024px) {
        padding-left: 105px;
      }

      .text-block__content {
        max-width: 95%;
      }
    }
  }
}
