.tour-registration {

  &__container {
    padding: 0 44px;
    padding-top: 350px;
    padding-bottom: 50px;
    
    @media #{$desktop2} {
      padding-left: 0;
      padding-right: 0;
    }

    @media #{$tablet2} {
      flex-direction: row;
    }

    @media #{$tablet} {
      flex-direction: column;
      padding-top: 130px;
      padding-bottom: 20px;
      padding-bottom: 130px;
    }

    @media #{$mobile} {
      padding-top: 65px;
      padding-left: 14px;
      padding-right: 14px;
      padding-bottom: 65px;
    }
  }

  &__text {
    padding-right: 10px;
    width: 30%;

    @media #{$tablet2} {
      width: 40%;
    }

    @media #{$tablet} {
      margin-bottom: 72px;
      width: 100%;
      padding-right: 20px;
    }

    @media #{$mobile} {
      margin-bottom: 36px;
      padding-right: 10px;
    }

    & .text-block__content {
      @media #{$tablet} {
        padding-left: 6px;
      }

      @media #{$mobile} {
        padding-left: 3px;
      }
    }
  }

  &__companies {
    padding-left: 22px;
    padding-bottom: 14px;
    width: 70%;
    align-self: flex-end;

    @media #{$desktop} {
      padding-left: 18px;
    }

    @media #{$tablet2} {
      padding-left: 8px;
      width: 60%;
    }

    @media #{$tablet} {
      padding-left: 0;
      width: 100%;
      align-self: flex-start;
    }
  }
}
