.tour-accounts {
  min-height: 1300px;

  &__container {
    align-content: flex-start;
    flex-wrap: wrap;
    padding-top: 208px;

    @media #{$tablet2} {
      padding-top: 108px;
      padding-bottom: 30px;
    }

    @media #{$tablet} {
    }
  }

  &__text {
    box-sizing: border-box;
    width: 50%;

    @media #{$tablet2} {
      width: 70%;
    }

    &_hero {
      margin-right: 50%;
      margin-bottom: 190px;
      padding-right: 310px;

      @media #{$tablet2} {
        padding-right: 0;
        margin-right: 30%;
        margin-bottom: 750px;
      }
    }

    &_superhero {
      margin-left: 50%;
      padding-left: 152px;
      padding-right: 60px;

      @media #{$desktop} {
        padding-left: 202px;
        padding-right: 0;
      }

      @media #{$tablet2} {
        margin-left: 30%;
        padding-left: 0px;
      }

      & .text-block__link {
        display: inline-block;
        margin-top: 16px;
        padding-left: 5px;
        font-weight: 300;
      }
    }
  }

  &__title {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      top: 50%;
      left: -30px;
      width: 13px;
      height: 36px;
      border-radius: 10px;
      transform: translate(0, -50%);
    }

    &_hero {
      &::before {
        background-color: $markHeroAccount;
      }
    }

    &_superhero {
      &::before {
        left: -34px;
        background-color: $markSuperheroAccount;
      }
    }
  }

  &__img {
    top: -392px;
    left: 0;
    width: 100%;
    height: 1753px;

    @media #{$tablet2} {
      top: -500px;
      width: 100%;
    }
  }
}
