.tour-dashboard {
  position: relative;

    @media #{$desktop} {
    }

    @media #{$tablet2} {
      padding-bottom: 150px;
    }

    @media #{$mobile} {
      padding-bottom: 145px;
    }


  &__container {
    padding-top: 280px;
    padding-bottom: 362px;

    @media #{$desktop} {
      padding-top: 212px;
      padding-bottom: 290px;
    }

    @media #{$tablet2} {
      padding-bottom: 40px;
    }

    @media #{$mobile} {
      padding-top: 106px;
      padding-bottom: 20px;
    }
  }

  &__text {
    width: 48%;
    box-sizing: border-box;
    padding-left: 44px;
    padding-right: 200px;
    
    @media #{$desktop2} {
      padding-left: 0;
      padding-right: 100px;
    }
    
    @media #{$desktop} {
      padding-right: 40px;
    }

    @media #{$tablet2} {
      align-self: flex-start;
    }
    
    @media #{$tablet} {
      width: 100%;
    }

    @media #{$tablet} {
      padding-left: 32px;
      padding-right: 72px;
      margin-bottom: 4px;
    }

     @media #{$mobile} {
      padding-left: 16px;
      padding-right: 36px;
      margin-bottom: 2px;
    }

    p {
      @media #{$mobile} {
        margin-bottom: 15px;
      }
    }
  }
  
  &__bg {
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    width: 51%;
    margin-left: 49%;
    height: auto;
    
    @media #{$tablet} {
      position: relative;
      width: 90%;
      margin-left: 10%;
    }
    
    @media #{$mobile} {
      width: 95%;
      margin-left: 5%;
    }
    
    &::before {
      position: absolute;
      content: '';
      top: calc(100% + 40px);
      left: 50%;
      transform: translate(-50%, 0);
      width: 40%;
      height: 2px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.5);
      filter: blur(5px);
      
      @media #{$tablet} {
        width: 50%;
        top: calc(100% + 10px);
        height: 1px;
        filter: blur(2px);
      }
    }
    
    img {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: auto;
    }
  }
}
