.tour-accounts {

  &__container {
    align-content: flex-start;
    flex-wrap: wrap;
    padding-top: 208px;
    padding-bottom: 264px;

    @media #{$tablet2} {
      padding-top: 108px;
      padding-bottom: 30px;
    }

    @media #{$tablet} {
      padding-top: 48px;
      padding-bottom: 100px;
      padding-left: 64px;
      padding-right: 60px;
    }

    @media #{$mobile} {
      padding-top: 4px;
      padding-bottom: 30px;
      padding-left: 32px;
      padding-right: 50px;
    }
  }

  &__text {
    box-sizing: border-box;
    width: 50%;

    @media #{$tablet2} {
      width: 70%;
    }

    @media #{$tablet} {
      padding-right: 15%;
      width: 100%;
    }

    @media #{$mobile} {
      padding-right: 0;
    }

    & .text-block__content {
      @media #{$tablet} {
        padding-left: 4px;
      }

      @media #{$mobile} {
        padding-left: 2px;
      }

      p {
        @media #{$tablet} {
          margin-bottom: 15px;
        }
      }
    }

    &_hero {
      margin-right: 50%;
      margin-bottom: 260px;
      margin-top: 100px;
      padding-left: 44px;
      padding-right: 300px;

      @media #{$desktop2} {
        padding-left: 44px;
        padding-right: 150px;
      }

      @media #{$tablet2} {
        padding-left: 0;
        padding-right: 0;
        margin-right: 30%;
        margin-bottom: 750px;
      }

      @media #{$tablet} {
        margin-right: 0;
        margin-bottom: 728px;
      }

      @media (min-width: 451px) and #{$mobile} {
        margin-bottom: 494px;
      }

      @media (max-width: 450px) {
        margin-bottom: 364px;
      }
    }

    &_superhero {
      margin-left: 50%;
      padding-left: 174px;
      padding-right: 60px;

      @media #{$desktop} {
        padding-left: 202px;
        padding-right: 0;
      }

      @media #{$tablet2} {
        margin-left: 30%;
        padding-left: 0px;
      }

      @media #{$tablet} {
        margin-left: 0;
      }

      & .text-block__link {
        display: inline-block;
        margin-top: 16px;
        margin-left: 5px;
        font-weight: 300;
        line-height: normal;
        letter-spacing: -0.04em;

        @media #{$tablet} {
          font-size: $btnTextSize*2;
          margin-left: 0;
        }

        @media #{$mobile} {
          margin-top: -2px;
          font-size: $btnTextSize;
        }
      }
    }
  }

  &__title {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      top: 50%;
      left: -30px;
      width: 13px;
      height: 36px;
      border-radius: 10px;
      transform: translate(0, -50%);

      @media #{$mobile} {
        left: -15px;
        width: 6px;
        height: 18px;
      }
    }

    &_hero {
      &::before {
        background-color: $markHeroAccount;
      }
    }

    &_superhero {
      &::before {
        left: -34px;
        background-color: $markSuperheroAccount;

        @media #{$mobile} {
          left: -15px;
        }
      }
    }
  }

  &__img {
    top: -292px;
    left: 0;
    width: 100%;
    height: 1753px;

    @media (min-width: 1921px) {
      left: auto;
      right: auto;
      margin-left: -43px;
    }

    @media (min-width: 1381px) and (max-width: 1440px) {
      top: -340px;
    }

    @media #{$desktop} {
      top: -490px;
    }

    @media #{$tablet2} {
      top: -400px;
      width: 100%;
    }

    @media #{$tablet} {
      top: -568px;
    }

    @media (min-width: 460px) and #{$mobile} {
      top: -100px;
    }

    @media #{$mobile} {
      top: -164px;
      height: 876px;
    }
  }
}
