.tour-search {
  position: relative;
  min-height: 988px;

  @media #{$desktop} {
    min-height: 788px;
  }

  &__container {
    padding-top: 248px;

    @media #{$desktop} {
      padding-top: 150px;
    }
  }

  &__text {
    width: 45%;
    padding-left: 58px;
    padding-right: 60px;

    @media #{$desktop2} {
      padding-left: 78px;
      padding-right: 10px;
    }

    @media #{$tablet2} {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 938px;
    height: 688px;
    overflow: hidden;

    @media #{$desktop2} {
      width: 56%;
    }

    @media #{$tablet2} {
      position: relative;
      width: 80%;
      margin-right: 20%;
    }

    img {
      width: 938px;
      height: 688px;

      @media #{$desktop2} {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        min-width: 100%;
        height: auto;
        width: 0;
        margin: 0 auto;
      }
    }
  }
}
