.tour-represent {

  &__bg {

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      content: '';
      width: 100%;
      height: 100%;
      background-image: radial-gradient(ellipse at 50% 50%, rgba(#fff, .7) 0%, transparent 100%);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      z-index: 2;

      @media #{$tablet} {
        display: block;
      }
    }

    @media #{$tablet} {

      img {
        //opacity: .7;
      }

    }

  }

  &__container {
    padding-top: 160px;
    padding-bottom: 160px;

    @media #{$tablet2} {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    @media #{$tablet} {
      padding-top: 272px;
      padding-bottom: 200px;
    }

    @media #{$mobile} {
      padding-top: 136px;
      padding-bottom: 98px;
    }
  }

  &__text {
    position: relative;
    width: 50%;
    padding-left: 138px;
    padding-right: 180px;
    z-index: 3;

    @media #{$desktop} {
      padding-left: 60px;
      padding-right: 90px;
    }

    @media #{$tablet2} {
      align-self: flex-end;
    }

    @media #{$tablet} {
      width: 100%;
      align-self: flex-start;
      padding-left: 32;
      padding-right: 180px;
    }

    @media #{$mobile} {
      padding-left: 16px;
      padding-right: 90px;
    }

    & .text-block__title {
      @media #{$tablet} {
        margin-bottom: 28px;
      }

      @media #{$mobile} {
        margin-bottom: 14px;
      }
    }
  }
}
