.tour-dashboard {
  position: relative;

    @media (max-width: 1380px) {
    }

    @media (max-width: 1279px) {
      //padding-bottom: 150px;
      padding-bottom: 0px;
    }

    @media (max-width: 639px) {
      //padding-bottom: 145px;
      padding-bottom: 0;
    }


  &__container {
    padding-top: 280px;
    padding-bottom: 362px;

    @media (max-width: 1380px) {
      padding-top: 212px;
      padding-bottom: 290px;
    }

    @media (max-width: 1279px) {
      padding-bottom: 40px;
    }

    @media (max-width: 1279px) {
      padding-top: 36px;
    }

    @media (max-width: 639px) {
      //padding-top: 106px;
      padding-top: 68px;
      padding-bottom: 20px;
    }

    &_employer {
      @media (max-width: 1279px) {
        padding-bottom: 175px;
        padding-top: 175px;
      }
    }
  }

  &__text {
    width: 48%;
    box-sizing: border-box;
    padding-left: 44px;
    padding-right: 200px;

    @media (max-width: 1690px) {
      padding-left: 0;
      padding-right: 100px;
    }

    @media (max-width: 1380px) {
      padding-right: 40px;
    }

    @media (max-width: 1279px) {
      align-self: flex-start;
    }

    @media (max-width: 1024px) {
      width: 100%;
    }

    @media (max-width: 1024px) {
      padding-left: 32px;
      padding-right: 72px;
      margin-bottom: 4px;
    }

     @media (max-width: 639px) {
      padding-left: 16px;
      padding-right: 36px;
      margin-bottom: 2px;
    }

    p {
      @media (max-width: 639px) {
        margin-bottom: 15px;
      }
    }
  }

  &__bg {
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    width: 51%;
    margin-left: 49%;
    height: auto;

    @media (max-width: 1024px) {
      position: relative;
      width: 90%;
      margin-left: 10%;
    }

    @media (max-width: 639px) {
      width: 95%;
      margin-left: 5%;
    }

    &::before {
      position: absolute;
      content: '';
      top: calc(100% + 40px);
      left: 50%;
      transform: translate(-50%, 0);
      width: 40%;
      height: 2px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.5);
      filter: blur(5px);

      @media (max-width: 1024px) {
        width: 50%;
        top: calc(100% + 10px);
        height: 1px;
        filter: blur(2px);
      }
    }

    img, video {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: auto;
    }
  }
}
