.tour-matching {
  position: relative;
  min-height: 774px;

  @media #{$tablet2} {
    min-height: 1276px;
  }

  @media #{$tablet} {
    min-height: 1076px;
  }

  @media #{$mobile} {
    min-height: 638px;
  }

  &__container {
    position: relative;
    padding-top: 134px;

    @media #{$tablet2} {
      padding-bottom: 90px;
      padding-top: 168px;
    }

    @media #{$mobile} {
      padding-top: 84px;
    }
  }

  &__text {
    width: 40%;
    padding-right: 70px;

    @media #{$tablet2} {
      width: 100%;
      padding-right: 0;
      margin-bottom: 72px;
    }

    @media #{$tablet} {
      padding-left: 28px;
      padding-right: 80px;
    }

    @media #{$mobile} {
      padding-left: 14px;
      padding-right: 40px;
      margin-bottom: 36px;
    }

    p{
      @media #{$tablet} {
        padding-left: 4px;
      }

      @media #{$mobile} {
        margin-bottom: 15px;
        padding-left: 2px;
      }
    }
  }

  &__img {
    position: absolute;
    top: 0;
    right: -24px;
    width: 923px;
    height: 580px;
    overflow: hidden;

    @media #{$desktop2} {
      right: auto;
      position: relative;
      width: 60%;
    }

    @media #{$tablet2} {
      width: 100%;
    }

    @media #{$tablet} {
      height: 364px;
    }

    @media #{$mobile} {
      height: 182px;
    }

    &::before {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 100%;
      height: 200px;
      background-image: linear-gradient(to top, $bgColor 0%, transparent 100%);
      background-repeat: no-repeat;
      background-position: 0 100%;
      z-index: 15;

      @media #{$mobile} {
        height: 100px;
      }
    }

    img {
      width: 923px;
      height: 580px;

      @media #{$desktop2} {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        width: 100%;
        height: auto;
      }
    }
  }
}
