.tour-search {
  position: relative;

  @media #{$desktop} {
  }

  @media #{$tablet} {
    padding-bottom: 100px;
  }

  @media #{$mobile} {
    padding-bottom: 50px;
  }

  &__container {
    padding-top: 252px;
    padding-bottom: 448px;

    @media #{$desktop2} {
      padding-top: 150px;
      padding-bottom: 282px;
    }

    @media #{$tablet} {
      padding-bottom: 40px;
      padding-top: 136px;
    }

    @media #{$mobile} {
      padding-top: 68px;
    }
  }

  &__text {
    width: 48%;
    padding-left: 128px;
    padding-right: 52px;

    @media #{$desktop2} {
      padding-left: 78px;
      padding-right: 10px;
    }

    @media #{$desktop} {
      padding-left: 60px;
      padding-right: 0;
    }

    @media #{$tablet2} {
      align-self: flex-end;
    }

    @media #{$tablet} {
      align-self: flex-start;
      width: 100%;
      padding-left: 28px;
      padding-right: 80px;
    }

    @media #{$mobile} {
      padding-left: 14px;
      padding-right: 40px;
    }

    p {
      @media #{$tablet} {
        padding-left: 4px;
      }

      @media #{$mobile} {
        margin-bottom: 15px;
        padding-left: 2px;
      }
    }
  }

  &__bg {
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    width: 49%;
    margin-right: 51%;
    height: auto;

    @media #{$tablet} {
      position: relative;
      width: 90%;
      margin-right: 10%;
    }

    @media #{$mobile} {
      width: 95%;
      margin-right: 5%;
    }

    &::before {
      position: absolute;
      content: '';
      top: calc(100% + 40px);
      left: 50%;
      transform: translate(-50%, 0);
      width: 40%;
      height: 2px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.5);
      filter: blur(5px);

      @media #{$tablet} {
        width: 50%;
        top: calc(100% + 10px);
        height: 1px;
        filter: blur(2px);
      }
    }

    img, video {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: auto;
    }
  }
}
