@media (max-width: 1279px) {
  @for $i from 1 through 2 {
    .user-menu__item:nth-child(#{$i}) {
      transition-delay: 0.8s + 0.2s * $i;
    }
  }
}

.user-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  @media (max-width: 1279px) {
    order: 3;
  }

  &__toggle {
    display: none;
    font-size: 0;
    background-color: transparent;
    border: none;
    outline: none;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0;
    cursor: pointer;

    @media (max-width: 1279px) {
      display: inline-block;
    }
  }

  &__icon {
    width: 50px;
    height: 50px;
    fill: transparent;
    stroke: $bgColor;
    stroke-width: 2px;

    @media (max-width: 1024px) {
      width: 40px;
      height: 40px;
    }

    @media (max-width: 639px) {
      width: 22px;
      height: 22px;
      transform: translate(3px, -1px);
    }
  }

  &__list {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 22px;
    padding-right: 22px;

    .page-header_no-switch-btn & {
      padding-left: 32px;
      padding-right: 32px;
    }

    @media (max-width: 1279px) {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: auto;
    }

    &.js-user-opened {
      background-color: $bgMenuColor;
      background-image: $mainGradient;
      z-index: 120;
      display: flex;
      flex-direction: row;
      justify-content: center;
      overflow: visible;
    }
  }

  &__item {
    display: inline-block;
    margin-right: 48px;
    font-size: 0;

    @media (max-width: 1380px) {
      margin-right: 34px;
    }

    .page-header_no-switch-btn & {
      margin-right: 40px;
    }

    &:last-child {
      margin-right: 0;
    }

    @media (max-width: 1279px) {
      opacity: 0;
      transition: all 0.5s ease-in-out;
    }

    .user-menu__list.js-user-opened & {
      opacity: 1;
    }
  }

  &__link {
    display: inline-block;
    padding: 14px 10px 14px;
    font-family: $mainFontFamily;
    font-size: $menuTextSize;
    letter-spacing: -0.04em;
    font-weight: 300;
    line-height: 1.2em;
    color: $mainFontColorLight;
    text-decoration: none;

    &:hover {
      background-color: $bgHeaderMenuItemHover;
    }
  }

  &__switch-btn {
    position: relative;
    padding: 14px 34px 14px 22px;
    min-width: 252px;
    width: 252px;
    font-family: $mainFontFamily;
    font-size: $menuTextSize;
    letter-spacing: -0.04em;
    font-weight: 500;
    line-height: 1.2em;
    color: $mainFontColorLight;

    @media (max-width: 1279px) {
      display: none;
    }

    &::before,
    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &::before {
      background-image: url('./../images/switch_btn_bg.jpg');
      background-repeat: no-repeat;
      background-position: 0 0;
      z-index: 1;
    }

    &::after {
      background-color: #000;
      opacity: 0.49;
      z-index: 2;
      transition: all 0.25s ease-in-out;
    }

    &:hover::after {
      opacity: 0.69;
    }

    span {
      position: relative;
      z-index: 3;
    }

    .page-header_no-switch-btn & {
      display: none;
    }
  }

  &__arrow {
    position: absolute;
    right: 16px;
    top: 50%;
    width: 26px;
    height: 22px;
    fill: $additionalColorGreen;
    transform: translate(0, -50%);
    z-index: 3;
  }
}
