.video-page-content {
	overflow: hidden;
}
.video {
	font-size: 16px;

	&__container {
		flex-direction: column;
	}
	&__row {
		display: flex;
		flex-direction: row;
		padding-top: 170px;
		width: 100%;
		@media #{$tablet}{
			padding-top: 60px;
			flex-direction: column;
		}
	}

	&__left-section {
		width: 60%;
		@media #{$tablet}{
			order:0;
			width: 100%;
		}
		&.order-two {
			@media #{$tablet}{
				order:2;
				width: 100%;
			}
		}
	}

	&__right-section {
		width: 45%;
		@media #{$tablet}{
			order:1;
			width: 100%;
		}
		&.order-one {
			@media #{$tablet}{
				order:1;
				width: 100%;
			}
		}
		&.align-center {
			display: flex;
			justify-content: center;
			flex-direction: column;
		}
	}
	&__btn {
    display: inline-block;
    position: relative;
    margin-top: 10px;
		margin-left: 40px;
    padding: 14px 38px;

    @media #{$desktop2} {
      margin-left: 10px;
    }

    @media #{$desktop} {
      padding-left: 20px;
      padding-right: 20px;
    }

		@media #{$tablet}{
			display: block;
			width: 80%;
      margin-left: -5px;
			margin-top: 30px;
		}

    @media #{$mobile} {
      padding-left: 10px;
      padding-right: 10px;
    }

    &::before {
      position: absolute;
      content: '';
      top: 50%;
      left: calc(100% + 30px);
      width: 250%;
      height: 12px;
      background-color: $additionalColorBlue;
      transform: translate(0, -50%);
      cursor: default;
      z-index: -1;

      @media #{$mobile} {
        left: calc(100% + 15px);
        height: 6px;
      }
    }
	}

	&__question {
		font-size: 60px;
		font-weight: 100;
		margin-bottom: 95px;
		letter-spacing: -2px;
		p {
			font-size: 60px;
			@media #{$tablet}{
				font-size: 30px;
			}
		}
		@media #{$tablet}{
			margin-bottom: 30px;
		}
		b {
			font-weight: 700;
			display: block;
		}
	}

	&__desc {
		font-size: 30px;
		p {
			font-size: 30px;
			letter-spacing: -1.4px;
			font-weight: 100;
		}
		b {
			font-weight: 500;
			margin-top: 40px;
			display: block;
			@media #{$tablet}{
				margin-top: 20px;
				font-size: 25px;
			}
		}
	}

	&__youtube-content {
		width: 90%;
		height: 560px;
		border-radius: 25px;
		overflow: hidden;
		line-height: 0;
		position: relative;
		img {
			width: 100%;
			height: 100%;
			object-fit:cover;
		}
		@media #{$tablet}{
			height: auto;
		}
	}
	&__youtube-link {
		display: block;
		position: absolute;
		left: 50px;
		right: 50px;
		vertical-align: middle;
		padding-left: 140px;
		font-size: 30px;
		font-weight: 100;
		bottom: 80px;
		color: #fff;
		line-height: 1.15;
		@media #{$tablet}{
			font-size: 18px;
			padding-left: 60px;
			left: 15px;
			right: 15px;
			bottom: 30px;
		}
	}
	&__youtube-img {
		width: 111px;
		height: 111px;
		position: absolute;
		top: 50%;
		margin-top: -55px;
		left: 0;
		@media #{$tablet}{
			width: 50px;
			height: 50px;
			margin-top: -18px;
		}
	}
	&__represent {
		margin-top: 50px;
		margin-left: 30px;
		color: $formFontColorDarkest;
		h2 {
 			font-size: 50px;
			margin-bottom: 40px;
			@media #{$tablet}{
				font-size: 30px;
			}
		}
		p {
			font-size: 25px;
			margin-bottom: 25px;
			margin-top: 50px;
			@media #{$tablet}{
				font-size: 18px;
			}
		}
	}

	/*&__section-content {
		position: relative;
		&:before {
			position: absolute;
			content: '';
			top: 50%;
			margin-top: -6px;
			right: calc(-50% - 188px);
			width: 100%;
			height: 12px;
			background-color: #1451ff;
			@media #{$mobile}{
				right: calc(-50% - 100px);
			}
			@media #{$tablet}{
				right: calc(-50% - 190px);
			}
			@media #{$tablet2}{
				right: calc(-50% - 85px);
			}
		}
	}*/
}
