.resume {
	padding: 280px 0 350px 0;
	&__container {
		padding-left: 28px
	}
	@media (max-width: 1024px) {
		padding: 80px 0;
	}

	.hero-work__text  {
		align-self: flex-start;
	}
	
	&__text {
		padding: 0;
	}

	&__title {
		margin-bottom: 50px;
	}
}