.case {
	padding: 210px 0 0 0;
	color: $mainFontColorDark;
	@media #{$tablet} {
		padding-top: 80px;
	}
	&__container {
		flex-direction:column;
		padding-left: 0;
	}
	&__heading {
		margin-bottom: 60px;
		text-align: center;
		min-width: 100%;
		font-size: 50px;
		@media #{$tablet} {
			margin-bottom: 30px;
			font-size:36px;
		}
	}
	&__description {
		width: 62%;
		text-align: center;
		display: block;
		margin: 0 auto;
		margin-bottom: 110px;
		font-size: 25px;
		@media #{$tablet}{
			width: 100%;
			font-size: 22px;
		}
	}
	&__main-container {
		position: relative;
		height: 1000px;
		margin-bottom: 60px;
		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 260px;
			box-shadow: inset 0 -165px 90px 0 rgba(255,255,255, 0.75);
			z-index: 1;
		}
	}
	&__inner-container {
		font-size: 16px;
		position: absolute;
		height: 1000px;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
	}
	&__grid-container {
		position: absolute;
		display: block;
		white-space: nowrap;
		left: -200px;
		@media #{$tablet} {
			left: 50%;
			transform: translateX(-50%);
		}
		@media #{$mobile} {
			left: 50%;
			margin-left: -890px;
			transform: translateX(0%);
		}
	}
	&__grid-col {
		width: 310px;
		display: inline-block;
		margin: 0 25px;
		white-space: normal;
		vertical-align: top;
		@media #{$tablet} {
			width: 200px;
		}
	}
	&__grid-element {
		width: 100%;
		margin-bottom: 55px;
		img {
			display: block;
			max-width: 100%;
		}
	}
	&__element-heading, &__element-desc, &__element-tags {
		padding: 0 25px;
	}
	&__element-heading {
		margin-top: 20px;
		font-size: 30px;
		font-weight: 100;
	}
	&__element-desc {
		font-size: 14px;
		margin-top: 25px;
		font-weight: 300;
	}
	&__element-tags {
		margin-top: 35px;
		padding-top: 15px;
		border-top: 1px solid $vipCaseColor;
	}
	&__tag {
		font-size: 14px;
		font-weight: 300;
		background: $vipCaseColor;
		border-radius:20px;
		padding: 4px 9px;
		margin: 0 1px;
		display: inline-block;
		@media #{$tablet} {
			margin-bottom: 10px;
		}
	}
}