.we-for-hero {
  overflow: hidden;

  &__container {
    position: relative;
    box-sizing: border-box;
    padding-top: 146px;
    padding-bottom: 98px;

    @media (max-width: 1380px) {
      padding-top: 102px;
      padding-bottom: 69px;
    }

    @media (max-width: 1024px) {
      padding-top: 264px;
      padding-bottom: 50px;
    }

    @media (max-width: 639px) {
      padding-top: 132px;
      padding-bottom: 50px;
    }
  }

  &__text {
    box-sizing: border-box;
    padding-left: 43px;
    padding-right: 250px;
    width: 50%;
    z-index: 2;

    @media (max-width: 1690px) {
      padding-right: 0px;
    }

    @media (max-width: 1380px) {
      padding-left: 20px;
      padding-right: 100px;
    }

    @media (max-width: 1279px) {
      padding-left: 0;
      padding-right: 0;
      align-self: flex-start;
    }

    @media (max-width: 1024px) {
      width: 100%;
      padding-left: 28px;
      padding-right: 28px;
    }

    @media (max-width: 639px) {
      padding-left: 14px;
      padding-right: 14px;
    }

    p {
      @media (max-width: 639px) {
        margin-bottom: 18px;
        line-height: 1.2em;
      }
    }
  }

  &__bg {
    top: 0;
    right: 0;
    height: 810px;
    overflow: visible;

    @media (max-width: 1024px) {
      height: 346px;
    }

    @media (max-width: 639px) {
      height: 173px;
    }

    @media (min-width: 475px) and (max-width: 639px) {
      transform: translate(60px, 0);
    }

    @media (min-width: 925px) and (max-width: 1024px) {
      transform: translate(150px, 0);
    }

    @media (min-width: 1024px) and (max-width: 1380px) {
      transform: translate(260px, -40px);
    }

    @media (min-width: 1380px) and (max-width:1690px) {
      transform: translate(260px, -40px);
    }
  }
}
