.we-for-hero {
  overflow: hidden;

/*  @media #{$tablet} {
    min-height: 1036px;
  }

  @media #{$mobile} {
    min-height: 518px;
  }*/

  &__container {
    position: relative;
    box-sizing: border-box;
    padding-top: 146px;
    padding-bottom: 98px;

    @media #{$desktop} {
      padding-top: 102px;
      padding-bottom: 69px;
    }

    @media #{$tablet} {
      padding-top: 264px;
      padding-bottom: 264px;
    }

    @media #{$mobile} {
      padding-top: 132px;
      padding-bottom: 132px;
    }
  }

  &__text {
    box-sizing: border-box;
    padding-left: 43px;
    padding-right: 250px;
    width: 50%;
    z-index: 2;

    @media #{$desktop2} {
      padding-right: 150px;
    }

    @media #{$desktop} {
      padding-left: 20px;
      padding-right: 100px;
    }

    @media #{$tablet2} {
      padding-left: 0;
      padding-right: 0;
      align-self: flex-start;
    }

    @media #{$tablet} {
      width: 100%;
      padding-left: 28px;
      padding-right: 28px;
    }

    @media #{$mobile} {
      padding-left: 14px;
      padding-right: 14px;
    }

    p {
      @media #{$mobile} {
        margin-bottom: 18px;
        line-height: 1.2em;
      }
    }
  }

  &__collage {
    position: relative;
    position: absolute;
//    display: flex;
//    flex-direction: row;
//    justify-content: center;
//    align-items: flex-start;
//    align-content: flex-start;
//    flex-wrap: wrap;
    width: 88%;
    height: auto;
    overflow: hidden;
    top: -52%;
    right: -9%;
    z-index: -1;

  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__bg {
    top: 0;
    right: 0;
    height: 810px;
    overflow: visible;

    @media #{$tablet} {
      height: 346px;
    }

    @media #{$mobile} {
      height: 173px;
    }

    @media (min-width: 475px) and (max-width: 639px) {
      transform: translate(60px, 0);
    }

    @media (min-width: 925px) and (max-width: 1024px) {
      transform: translate(150px, 0);
    }

    @media (min-width: 1024px) and #{$desktop} {
      transform: translate(150px, -40px);
    }
  }
}
